<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emitbuilder</key>
	<string>shouldPauseBoxShadow</string>
	<key>ephemeralcompletionoffset</key>
	<string>createStack</string>
	<key>inheritedLocalization</key>
	<string>borderForm</string>
	<key>shouldContinueClipper</key>
	<string>canPreparePlate</string>
	<key>shouldMountedNotification</key>
	<string>shouldDispatchPrecision</string>
	<key>sustainableBatch</key>
	<string>composableAxis</string>
	<key>sustainableService</key>
	<string>performVector</string>
	<key>webCharacter</key>
	<string>canBindTangent</string>
</dict>
</plist>
