<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldValidateTextField</key>
	<string>selectorOrientation</string>
	<key>shouldconnectnotification</key>
	<string>uniqueSample</string>
	<key>tabbardelay</key>
	<string>switchsaturation</string>
</dict>
</plist>
