<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousNotifier</key>
	<string>featureKind</string>
	<key>customLinker</key>
	<string>freeConfiguration</string>
	<key>diffableAxis</key>
	<string>scrollableContainer</string>
	<key>ephemeralSymbol</key>
	<string>pointComposite</string>
	<key>integerstagevisibility</key>
	<string>directlyGift</string>
	<key>opaqueAmortization</key>
	<string>sizeTask</string>
	<key>sequentialdocument</key>
	<string>canNavigateSizedBox</string>
	<key>shouldInflateSwift</key>
	<string>statelessProject</string>
</dict>
</plist>
