<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedlayoutscale</key>
	<string>canTransitionLabel</string>
	<key>blocopacity</key>
	<string>scaleVisitor</string>
	<key>customizedDisclaimer</key>
	<string>aspectratioFlags</string>
	<key>declarativemembervalidation</key>
	<string>anchortint</string>
	<key>diversifiedEmitter</key>
	<string>canLoadScaffold</string>
	<key>gradientviastage</key>
	<string>diversifiedFinder</string>
	<key>hyperbolicStore</key>
	<string>entityIndex</string>
	<key>subtleProtocol</key>
	<string>characterState</string>
</dict>
</plist>
