<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mergerAcceleration</key>
	<string>subtlebuilderstate</string>
	<key>sequentialProfile</key>
	<string>skipCoordinator</string>
	<key>storeInset</key>
	<string>transitionalert</string>
</dict>
</plist>
