<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalScalability</key>
	<string>rowrepository</string>
	<key>invisiblerenderer</key>
	<string>contractionStage</string>
	<key>mobileDuration</key>
	<string>switchState</string>
	<key>pivotalBaseline</key>
	<string>dependencyTheme</string>
	<key>shouldPrepareGram</key>
	<string>fragmentsTag</string>
	<key>shouldTransitionRoute</key>
	<string>resolverconverter</string>
	<key>textureparameterskewy</key>
	<string>unlockResolver</string>
</dict>
</plist>
