<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSlash</key>
	<string>ignoredNotification</string>
	<key>intensityMomentum</key>
	<string>hashHead</string>
	<key>moduleCount</key>
	<string>normalScene</string>
	<key>primaryReliability</key>
	<string>concreterect</string>
	<key>tolerancePosition</key>
	<string>batchCoord</string>
</dict>
</plist>
