<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionTint</key>
	<string>selectedTangent</string>
	<key>customizedIndicator</key>
	<string>canSerializeLoss</string>
	<key>objectStyle</key>
	<string>presenterremediation</string>
	<key>paralleltransformer</key>
	<string>endNotifier</string>
	<key>preparedependency</key>
	<string>prevEvolution</string>
	<key>secondchannelduration</key>
	<string>subtleNotation</string>
	<key>transformeraroundvisitor</key>
	<string>ephemeralBandwidth</string>
</dict>
</plist>
