<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeVertex</key>
	<string>canSerializeCanvas</string>
	<key>disabledtransformer</key>
	<string>checkBuffer</string>
	<key>offsetvisible</key>
	<string>drawMenu</string>
	<key>tickerSpacing</key>
	<string>resourceSpeed</string>
</dict>
</plist>
