<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatorOrigin</key>
	<string>subpixelTint</string>
	<key>errorskewy</key>
	<string>makeService</string>
	<key>heapOffset</key>
	<string>trianglesFrequency</string>
	<key>immutableScenario</key>
	<string>directTexture</string>
	<key>protectedMultiplication</key>
	<string>metricsDuration</string>
	<key>responsiveSorter</key>
	<string>interactiveProcessor</string>
	<key>sharedaudio</key>
	<string>commonBitrate</string>
	<key>spineTail</key>
	<string>frameTop</string>
	<key>textfieldHue</key>
	<string>rapidNotifier</string>
</dict>
</plist>
