<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedstroke</key>
	<string>alignmentMemento</string>
	<key>completionAppearance</key>
	<string>canRenderScroll</string>
	<key>hyperbolicService</key>
	<string>denseRemediation</string>
	<key>iconcolor</key>
	<string>shouldUnmountedEqualization</string>
	<key>intuitiveIntegration</key>
	<string>keyParticle</string>
	<key>shouldBindEquipment</key>
	<string>regulateOffset</string>
	<key>tappableAudio</key>
	<string>syncInteractor</string>
	<key>timelineCenter</key>
	<string>eventBottom</string>
</dict>
</plist>
