<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonPainter</key>
	<string>stringifylabel</string>
	<key>confidentialityVisibility</key>
	<string>persistEquipment</string>
	<key>euclideanAppBar</key>
	<string>fixedAxis</string>
	<key>playbackBehavior</key>
	<string>autoResilience</string>
	<key>processlistener</key>
	<string>hashRate</string>
	<key>restrictionType</key>
	<string>semanticsTint</string>
	<key>shouldEncodeBitrate</key>
	<string>similarAsync</string>
	<key>shouldPublishStream</key>
	<string>keyTimeline</string>
	<key>shouldparseplate</key>
	<string>firstGrain</string>
	<key>undertakeconstraint</key>
	<string>activatedtexture</string>
</dict>
</plist>
