<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticVariant</key>
	<string>permanentCollection</string>
	<key>associatedInteger</key>
	<string>rendererFlags</string>
	<key>colorPosition</key>
	<string>executeSubscription</string>
	<key>connectscreen</key>
	<string>smallTentative</string>
	<key>cycleRight</key>
	<string>quantizationAsync</string>
	<key>mediaCount</key>
	<string>compileTopic</string>
	<key>radiusbesidecycle</key>
	<string>integrationScale</string>
	<key>shouldPauseBuilder</key>
	<string>currentExponent</string>
	<key>specifyCanvas</key>
	<string>buildAspectRatio</string>
	<key>taskindex</key>
	<string>stopContraction</string>
</dict>
</plist>
