<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoanimator</key>
	<string>finishOptimizer</string>
	<key>extensionForce</key>
	<string>shouldTrainButton</string>
	<key>permissiveOperation</key>
	<string>publishPet</string>
	<key>permissivecallbackedge</key>
	<string>greatMaterializer</string>
	<key>remediationbottom</key>
	<string>autoText</string>
	<key>shouldDisposeBatch</key>
	<string>groupBehavior</string>
	<key>shoulddecodeaperture</key>
	<string>handleScreen</string>
	<key>streamqueue</key>
	<string>shaderTail</string>
	<key>tweenofflyweight</key>
	<string>erasereducer</string>
</dict>
</plist>
