<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzerOrientation</key>
	<string>scalabilityShape</string>
	<key>disabledScroller</key>
	<string>materialSubscription</string>
	<key>eagerMaterial</key>
	<string>protectedrectbehavior</string>
	<key>imagemend</key>
	<string>shouldSkipMultiplication</string>
	<key>impactVelocity</key>
	<string>oldListener</string>
	<key>mainBuffer</key>
	<string>synchronousRecursion</string>
	<key>missedplate</key>
	<string>shouldDismissGraphic</string>
	<key>shouldbuildchecklist</key>
	<string>emitAnchor</string>
	<key>shouldupdateprofile</key>
	<string>navigatorsize</string>
</dict>
</plist>
