<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonText</key>
	<string>smartMaterializer</string>
	<key>decouplechart</key>
	<string>shouldStartBullet</string>
	<key>deliverybrightness</key>
	<string>canListenExponent</string>
	<key>explicitEquivalent</key>
	<string>mutableResult</string>
	<key>inkwellTop</key>
	<string>imageBuffer</string>
	<key>permutationSaturation</key>
	<string>unactivatedReliability</string>
	<key>responsiveScroller</key>
	<string>animateUsage</string>
	<key>roleTheme</key>
	<string>spineLeft</string>
	<key>shouldInflateMobile</key>
	<string>bufferInterpreter</string>
</dict>
</plist>
