<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonFuture</key>
	<string>shouldLoadWorkflow</string>
	<key>consultativecoordinator</key>
	<string>attachslash</string>
	<key>customBloc</key>
	<string>robustColor</string>
	<key>futurealongtask</key>
	<string>instantiateCompleter</string>
	<key>inheritedCursor</key>
	<string>canSubscribeCapacities</string>
	<key>objectPressure</key>
	<string>canTransformGem</string>
	<key>relationalModal</key>
	<string>newestImpact</string>
	<key>tabviewSpacing</key>
	<string>enabledFrame</string>
</dict>
</plist>
