<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubittierdensity</key>
	<string>dissociateInjection</string>
	<key>declarativeParticle</key>
	<string>concreteBitrate</string>
	<key>disparatescalability</key>
	<string>shouldPaintDimension</string>
	<key>easyHero</key>
	<string>traversalDepth</string>
	<key>formatasset</key>
	<string>uniformMember</string>
	<key>granularAsync</key>
	<string>crudeInkWell</string>
	<key>isTask</key>
	<string>imageInterval</string>
	<key>popupFeedback</key>
	<string>specifierHue</string>
	<key>scalabilityinset</key>
	<string>analogyBehavior</string>
	<key>transformerlocation</key>
	<string>alphaPosition</string>
</dict>
</plist>
