<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binderFeedback</key>
	<string>sortedContraction</string>
	<key>boxShade</key>
	<string>limitAnimation</string>
	<key>dynamicInfrastructure</key>
	<string>substantialarithmeticbottom</string>
	<key>firstDialogs</key>
	<string>limitconstraint</string>
	<key>granularActivity</key>
	<string>tensorCharacteristic</string>
	<key>joinerAlignment</key>
	<string>independentCluster</string>
	<key>resourceresponse</key>
	<string>immediateGraphic</string>
	<key>swiftofstate</key>
	<string>touchVisible</string>
	<key>temporaryStateless</key>
	<string>textfieldHead</string>
	<key>unaryRate</key>
	<string>respectiveCompleter</string>
</dict>
</plist>
