<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>architectureDensity</key>
	<string>mainRectangle</string>
	<key>axisdecoratorbrightness</key>
	<string>specifyequipment</string>
	<key>fixedDecoration</key>
	<string>matrixCommand</string>
	<key>fusedInteractor</key>
	<string>listenerSize</string>
	<key>inactiverange</key>
	<string>sliderForce</string>
	<key>lastEvent</key>
	<string>activatedDuration</string>
	<key>scalabilityborder</key>
	<string>canYieldSign</string>
	<key>shouldYieldLoss</key>
	<string>shouldcachedocument</string>
	<key>synchronousBullet</key>
	<string>shouldLayoutAperture</string>
	<key>synchronousConsumer</key>
	<string>intermediateCapsule</string>
</dict>
</plist>
