<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalArithmetic</key>
	<string>scrollablesizebound</string>
	<key>lastFragment</key>
	<string>eraseListener</string>
	<key>mendmargin</key>
	<string>containerSkewY</string>
	<key>permissiveStack</key>
	<string>ignoredNorm</string>
	<key>radioTint</key>
	<string>axisDuration</string>
	<key>relationallogarithm</key>
	<string>resizableUtil</string>
	<key>respectiveSign</key>
	<string>accessibleplate</string>
	<key>timeSpeed</key>
	<string>deliveryTension</string>
	<key>trainresolver</key>
	<string>tentativeRate</string>
</dict>
</plist>
