<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMesh</key>
	<string>animatorMomentum</string>
	<key>anchorscopelocation</key>
	<string>hasmission</string>
	<key>commondrawer</key>
	<string>resizablePriority</string>
	<key>confidentialityAlignment</key>
	<string>canPrepareNib</string>
	<key>customizedSignature</key>
	<string>permissiveoffsetcolor</string>
	<key>evaluatedecoration</key>
	<string>shouldshowchallenge</string>
</dict>
</plist>
