<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oldSubpixel</key>
	<string>crudePriority</string>
	<key>pushconstraint</key>
	<string>canLoadMovement</string>
	<key>similarSprite</key>
	<string>exceptionSingleton</string>
</dict>
</plist>
