<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>confidentialityCoord</key>
	<string>insteadUtil</string>
	<key>diversifiedtopic</key>
	<string>substantialScope</string>
	<key>normAcceleration</key>
	<string>challengeFlags</string>
	<key>temporaryMomentum</key>
	<string>disconnectIntensity</string>
</dict>
</plist>
