<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileConverter</key>
	<string>swiftStatus</string>
	<key>convolutionscale</key>
	<string>responseShade</string>
	<key>fusedCapacity</key>
	<string>consultativeUnary</string>
	<key>isolateskewx</key>
	<string>ismovement</string>
	<key>lostController</key>
	<string>builderPlatform</string>
	<key>queuedelay</key>
	<string>distinctionRight</string>
	<key>relationalCheckbox</key>
	<string>deserializeEvent</string>
	<key>shouldUpdateInkWell</key>
	<string>permanenttolerance</string>
</dict>
</plist>
