<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerroute</key>
	<string>beginnerLinker</string>
	<key>contrastcontrast</key>
	<string>fetchCache</string>
	<key>dependencyskewy</key>
	<string>layoutDescriptor</string>
	<key>independentCoordinator</key>
	<string>listenService</string>
	<key>mainFrame</key>
	<string>canPauseNotifier</string>
	<key>retainedMultiplication</key>
	<string>chapterevaluation</string>
	<key>shouldSaveRoute</key>
	<string>plateAdapter</string>
</dict>
</plist>
