<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerSkewY</key>
	<string>encodeMusic</string>
	<key>escalaterepository</key>
	<string>displayableArchitecture</string>
	<key>interfacevideo</key>
	<string>methodchainstate</string>
	<key>localizationuntilpattern</key>
	<string>metricsOpacity</string>
	<key>popupawaycycle</key>
	<string>createProfile</string>
	<key>textfieldresponse</key>
	<string>animateTopic</string>
</dict>
</plist>
