<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousRemediation</key>
	<string>coordinatorRotation</string>
	<key>basicPositioned</key>
	<string>segueLevel</string>
	<key>euclideanMovement</key>
	<string>resetRepository</string>
	<key>lastThroughput</key>
	<string>boxshadowbytask</string>
	<key>pivotalBatch</key>
	<string>storagefacadefeedback</string>
	<key>priorFinder</key>
	<string>memberrecursion</string>
	<key>semanticGraph</key>
	<string>canStartSample</string>
	<key>shouldBuildCycle</key>
	<string>subscriberouter</string>
	<key>shouldEndSlash</key>
	<string>layoutshapeformat</string>
	<key>shouldListenGesture</key>
	<string>layouttag</string>
</dict>
</plist>
