<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grayscaleHue</key>
	<string>missedSubscription</string>
	<key>greatAnchor</key>
	<string>numericaltaskcoord</string>
	<key>immutablePermutation</key>
	<string>shearModel</string>
	<key>iterativeGift</key>
	<string>shouldTransitionController</string>
	<key>paddinglocation</key>
	<string>staticRadio</string>
	<key>prismaticMaterial</key>
	<string>permissiveConnector</string>
	<key>secondSignature</key>
	<string>promiseObserver</string>
	<key>singleView</key>
	<string>canFinishController</string>
</dict>
</plist>
