<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonshapeinterval</key>
	<string>canInflateGraphic</string>
	<key>fusedResult</key>
	<string>substantialThroughput</string>
	<key>navigatordistance</key>
	<string>priorResilience</string>
	<key>rowexceptjob</key>
	<string>lazyAlpha</string>
</dict>
</plist>
