<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledIntensity</key>
	<string>executeFrame</string>
	<key>frametypecoord</key>
	<string>integrationstyle</string>
	<key>pivotalConsumer</key>
	<string>shouldreplacecheckbox</string>
	<key>retainedMerger</key>
	<string>continuebutton</string>
	<key>webAppBar</key>
	<string>draggableStateless</string>
</dict>
</plist>
