<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedHistogram</key>
	<string>durationSaturation</string>
	<key>compositionalMenu</key>
	<string>reusableSearcher</string>
	<key>ignoredDescent</key>
	<string>inkwellresource</string>
	<key>persistentMovement</key>
	<string>divideFrame</string>
	<key>shouldstartbrush</key>
	<string>canResumeTangent</string>
</dict>
</plist>
