<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedLayer</key>
	<string>robustObserver</string>
	<key>futureTheme</key>
	<string>smallComponent</string>
	<key>significantTweak</key>
	<string>independentSearcher</string>
</dict>
</plist>
