<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeFrame</key>
	<string>throughputSize</string>
	<key>customizedMargin</key>
	<string>responseTheme</string>
	<key>customizedPermutation</key>
	<string>dedicatedContrast</string>
	<key>flexibleLayout</key>
	<string>animationbufferresponse</string>
	<key>invokeworkflow</key>
	<string>onstatefultap</string>
	<key>rendervariant</key>
	<string>efficiencyName</string>
</dict>
</plist>
