<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentfuture</key>
	<string>fetchMedia</string>
	<key>configurationdensity</key>
	<string>lostManager</string>
	<key>diversifiedallocator</key>
	<string>capsuleMethod</string>
	<key>provisionType</key>
	<string>benchmarkConfiguration</string>
	<key>serviceShade</key>
	<string>scrollgrain</string>
	<key>shouldRouteSpot</key>
	<string>aspectPosition</string>
	<key>smartDetector</key>
	<string>boxFunction</string>
	<key>synchronousCompleter</key>
	<string>fillTopic</string>
	<key>textfieldDensity</key>
	<string>exceptionDelay</string>
	<key>touchDepth</key>
	<string>animatedCompleter</string>
</dict>
</plist>
