<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousgesturedetector</key>
	<string>disparateLoop</string>
	<key>checkboxStatus</key>
	<string>timerreceiver</string>
	<key>descriptorpressure</key>
	<string>handleaction</string>
	<key>firstGraph</key>
	<string>exceptionOrigin</string>
	<key>layoutmodemode</key>
	<string>captionDirection</string>
	<key>shouldCreateLogarithm</key>
	<string>animatedMonster</string>
	<key>spotCenter</key>
	<string>canStreamCosine</string>
	<key>temporaryQueue</key>
	<string>accordionElasticity</string>
	<key>textureperinterpreter</key>
	<string>chapterrotation</string>
</dict>
</plist>
