<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerResponder</key>
	<string>createService</string>
	<key>convolutionOrientation</key>
	<string>navigateSemantics</string>
	<key>independentGridView</key>
	<string>synchronousComponent</string>
	<key>shoulddetachcustompaint</key>
	<string>desktopprofileedge</string>
	<key>tensorAllocator</key>
	<string>subtlePet</string>
</dict>
</plist>
