<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedRouter</key>
	<string>shouldSaveCompletion</string>
	<key>autoThread</key>
	<string>othercyclespacing</string>
	<key>basicReceiver</key>
	<string>directlyPrecision</string>
	<key>challengeScale</key>
	<string>musicForm</string>
	<key>expandedawait</key>
	<string>offsetwithoutstyle</string>
	<key>imageinterpreterfrequency</key>
	<string>responsiveGradient</string>
	<key>integrityshape</key>
	<string>denseIcon</string>
	<key>lazyExpanded</key>
	<string>drawDependency</string>
	<key>mutableCluster</key>
	<string>pivotalConfidentiality</string>
	<key>shouldRouteStep</key>
	<string>deferredArithmetic</string>
</dict>
</plist>
