<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousprofilecenter</key>
	<string>canSubscribeDelegate</string>
	<key>baseDelay</key>
	<string>viewmediatoropacity</string>
	<key>checklisttempleborder</key>
	<string>yieldInterpolation</string>
	<key>explicitCheckbox</key>
	<string>factoryfacadesize</string>
	<key>inactiveTrajectory</key>
	<string>transitiontiertop</string>
	<key>locateresolver</key>
	<string>arithmeticBridge</string>
	<key>lossatmethod</key>
	<string>shaderrepository</string>
	<key>nextCallback</key>
	<string>canYieldVariant</string>
	<key>secondMediaQuery</key>
	<string>canPersistMember</string>
	<key>statefulSorter</key>
	<string>resumeCertificate</string>
</dict>
</plist>
