<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureStyle</key>
	<string>profileLabel</string>
	<key>curveSpeed</key>
	<string>holdStream</string>
	<key>delegatebuilder</key>
	<string>canValidateCollection</string>
	<key>kernelVisible</key>
	<string>amortizationbound</string>
	<key>normalModel</key>
	<string>signTransparency</string>
	<key>ontangenttap</key>
	<string>alertstream</string>
	<key>pooldrawer</key>
	<string>containerjobshade</string>
	<key>seguebufferfeedback</key>
	<string>pinchablemusic</string>
	<key>shouldencodeconsumer</key>
	<string>grainBridge</string>
	<key>widgetInset</key>
	<string>navigatorbesidesystem</string>
</dict>
</plist>
