<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionNotation</key>
	<string>composableBase</string>
	<key>concurrentModulus</key>
	<string>isolateAcceleration</string>
	<key>deferredChallenge</key>
	<string>shearSlider</string>
	<key>painterIndex</key>
	<string>multiDimension</string>
	<key>pinchableCache</key>
	<string>normalSpecifier</string>
	<key>scaleEdge</key>
	<string>statefulcoordinator</string>
	<key>scrollableCursor</key>
	<string>prismaticSine</string>
	<key>shouldYieldButton</key>
	<string>signMomentum</string>
	<key>skinsensor</key>
	<string>intuitiveTolerance</string>
	<key>stackType</key>
	<string>canRestartMaster</string>
</dict>
</plist>
