<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsingletondelay</key>
	<string>displayableData</string>
	<key>controllerRate</key>
	<string>bundleInteractor</string>
	<key>disparateResilience</key>
	<string>directProtocol</string>
	<key>embracerequest</key>
	<string>canKeepReduction</string>
	<key>fusedRestriction</key>
	<string>endLoss</string>
</dict>
</plist>
