<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>joinerTag</key>
	<string>cubeAction</string>
	<key>profilequeue</key>
	<string>fillTopic</string>
	<key>requestmargin</key>
	<string>temporaryaspectratio</string>
	<key>shouldRestartAnchor</key>
	<string>observePosition</string>
	<key>shouldcancelmedia</key>
	<string>canParseEquipment</string>
	<key>singletonInteraction</key>
	<string>functionalRenderer</string>
	<key>widgetBorder</key>
	<string>dropoutParticle</string>
</dict>
</plist>
