<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoEquivalent</key>
	<string>executeFuture</string>
	<key>isWidget</key>
	<string>zoneOrigin</string>
	<key>iterativeRectangle</key>
	<string>canRebuildCard</string>
	<key>largeanalyzer</key>
	<string>reactiveStatus</string>
	<key>nativehashinset</key>
	<string>vertexType</string>
	<key>pinchableTraversal</key>
	<string>taskDuration</string>
	<key>subsequentAppBar</key>
	<string>labelHead</string>
	<key>techniquestate</key>
	<string>upgradeDecoration</string>
</dict>
</plist>
