<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleNotation</key>
	<string>keepModulus</string>
	<key>aspectAlignment</key>
	<string>mechanismvalidation</string>
	<key>enhanceunary</key>
	<string>adaptiveStore</string>
	<key>inheritedMovement</key>
	<string>presentListView</string>
	<key>semanticrow</key>
	<string>threadscene</string>
	<key>shouldDecodeDelegate</key>
	<string>usedInstruction</string>
	<key>shouldStartAspectRatio</key>
	<string>intermediateSound</string>
</dict>
</plist>
