<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorDirection</key>
	<string>provisionFormat</string>
	<key>associatedPublisher</key>
	<string>canContinueConvolution</string>
	<key>cacheinteger</key>
	<string>publicFragments</string>
	<key>commonSink</key>
	<string>textprototypeshape</string>
	<key>easydrawer</key>
	<string>retainedRange</string>
	<key>modelTension</key>
	<string>shouldUnmountStream</string>
	<key>retainedAxis</key>
	<string>localHash</string>
	<key>statelessResilience</key>
	<string>canMountedTabView</string>
	<key>substantialInstruction</key>
	<string>replaceController</string>
	<key>vertexsaturation</key>
	<string>deferredAnalyzer</string>
</dict>
</plist>
