<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directStep</key>
	<string>partitionInterface</string>
	<key>hardAspectRatio</key>
	<string>splitterBorder</string>
	<key>mutableIntegrity</key>
	<string>hardAwait</string>
	<key>projectiontentative</key>
	<string>routeExponent</string>
	<key>secondmodel</key>
	<string>shouldTransitionSine</string>
	<key>servicebinder</key>
	<string>gesturedetectorbandwidth</string>
	<key>sizedboxLeft</key>
	<string>sharedSwift</string>
	<key>standaloneHistogram</key>
	<string>priorAllocator</string>
	<key>threadfactory</key>
	<string>stackVisible</string>
</dict>
</plist>
