<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inkwelldescription</key>
	<string>crudeGift</string>
	<key>localActivity</key>
	<string>saveChannels</string>
	<key>notifierinset</key>
	<string>sortedPublisher</string>
	<key>significantListView</key>
	<string>marshalLabel</string>
</dict>
</plist>
