<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentChannel</key>
	<string>normrow</string>
	<key>convolutionValidation</key>
	<string>cubeBuffer</string>
	<key>fusedInteger</key>
	<string>smallMember</string>
	<key>handleruntilinterpreter</key>
	<string>equipmentTemple</string>
	<key>switchevent</key>
	<string>statusHead</string>
</dict>
</plist>
