<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveCapacity</key>
	<string>boxshadowContrast</string>
	<key>dependencyfunctionoffset</key>
	<string>euclideanManager</string>
	<key>enabledListView</key>
	<string>routeSymbol</string>
	<key>materialContainer</key>
	<string>meshRate</string>
	<key>nativescaffold</key>
	<string>flexibleConfidentiality</string>
	<key>reactiveSignature</key>
	<string>offsetdespitelayer</string>
	<key>routerSize</key>
	<string>globalConsumer</string>
	<key>shouldcontinuestream</key>
	<string>sessionMode</string>
	<key>specifieralongfunction</key>
	<string>declarativeOverlay</string>
	<key>spotpicker</key>
	<string>menuBuffer</string>
</dict>
</plist>
