<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>injectionIndex</key>
	<string>paintInstruction</string>
	<key>mediocreFlex</key>
	<string>ephemeralTaxonomy</string>
	<key>mobileTitle</key>
	<string>tweenshade</string>
	<key>permissiveRow</key>
	<string>transitionCanvas</string>
	<key>pinchableListView</key>
	<string>canTrainObserver</string>
	<key>sophisticatedBullet</key>
	<string>pagerStyle</string>
	<key>tappableInterface</key>
	<string>remediationScale</string>
</dict>
</plist>
