<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintstaterate</key>
	<string>substantialposition</string>
	<key>crudeScroll</key>
	<string>trianglesTail</string>
	<key>nextSubscription</key>
	<string>localCaption</string>
	<key>persistentBase</key>
	<string>toolWork</string>
	<key>protectedskin</key>
	<string>transposeFuture</string>
	<key>routerdirection</key>
	<string>binderFlags</string>
	<key>semanticRange</key>
	<string>seamlessSkin</string>
	<key>shouldRebuildStream</key>
	<string>temporarySubscriber</string>
	<key>variantgrid</key>
	<string>canTransitionEffect</string>
	<key>viewvisibility</key>
	<string>cupertinoInfrastructure</string>
</dict>
</plist>
