<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesBottom</key>
	<string>nextListener</string>
	<key>hassine</key>
	<string>borderwithoutvisitor</string>
	<key>isRoute</key>
	<string>shouldResumeBitrate</string>
	<key>persistcheckbox</key>
	<string>shouldEndRemainder</string>
	<key>pickerTail</key>
	<string>strengthFlags</string>
	<key>robustGrayscale</key>
	<string>pinchableMediaQuery</string>
	<key>shouldFinishActivity</key>
	<string>notificationOpacity</string>
	<key>shouldSkipEqualization</key>
	<string>canParseSignature</string>
	<key>shouldvalidatecache</key>
	<string>defaultarithmetic</string>
	<key>validatetext</key>
	<string>shouldFetchCupertino</string>
</dict>
</plist>
