<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeDrawer</key>
	<string>extensionMemento</string>
	<key>effectstrategytag</key>
	<string>disconnectShader</string>
	<key>filterMode</key>
	<string>materializerShape</string>
	<key>impactMode</key>
	<string>hyperbolicDisclaimer</string>
	<key>mediumCapacities</key>
	<string>canRestartSpine</string>
	<key>robustEfficiency</key>
	<string>emitCallback</string>
	<key>shouldFormatScale</key>
	<string>firstmap</string>
	<key>sinkrate</key>
	<string>canSubscribeProject</string>
	<key>subsequentActivity</key>
	<string>similarKernel</string>
</dict>
</plist>
