<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisutil</key>
	<string>hardData</string>
	<key>concreteBaseline</key>
	<string>eventKind</string>
	<key>concreteLayer</key>
	<string>servicetaskvisibility</string>
	<key>crudeBandwidth</key>
	<string>constantforce</string>
	<key>explicitMonster</key>
	<string>deferredObserver</string>
	<key>interactivesubscriptionrate</key>
	<string>shouldTransitionModal</string>
	<key>modalBottom</key>
	<string>canSaveLayout</string>
	<key>observerOrigin</key>
	<string>inkwellPhase</string>
	<key>primaryqueueoffset</key>
	<string>injectionBuffer</string>
	<key>workflowexceptscope</key>
	<string>limitHandler</string>
</dict>
</plist>
