<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardButton</key>
	<string>occasionBrightness</string>
	<key>customLinker</key>
	<string>unsortedslash</string>
	<key>histogramCenter</key>
	<string>undertakeButton</string>
	<key>kernelDelay</key>
	<string>convolutionAcceleration</string>
	<key>normalsteptheme</key>
	<string>optimizerFeedback</string>
	<key>observerright</key>
	<string>herotype</string>
	<key>pinchableNavigation</key>
	<string>unaryCount</string>
	<key>scrollableProvision</key>
	<string>lostSlash</string>
	<key>techniqueMargin</key>
	<string>loadScaffold</string>
	<key>zonescopeacceleration</key>
	<string>poolprecision</string>
</dict>
</plist>
