<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteFlex</key>
	<string>interpolationstateskewy</string>
	<key>draggableFactory</key>
	<string>unlockMethod</string>
	<key>permutationAlignment</key>
	<string>newestSlash</string>
	<key>semanticTangent</key>
	<string>rowColor</string>
	<key>symmetricchapterhead</key>
	<string>accordioncapacities</string>
	<key>synchronousIntegration</key>
	<string>upgradeFactory</string>
</dict>
</plist>
