<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isoptimizer</key>
	<string>temporaryStatus</string>
	<key>mainFlex</key>
	<string>cloneSink</string>
	<key>notificationDistance</key>
	<string>isCupertino</string>
	<key>protectedContrast</key>
	<string>permanentAnchor</string>
	<key>scaffoldrestriction</key>
	<string>beginnerrouteskewy</string>
	<key>tickerandfacade</key>
	<string>accordionText</string>
</dict>
</plist>
