<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicKernel</key>
	<string>navigationfromfacade</string>
	<key>explicitbutton</key>
	<string>mendTail</string>
	<key>formatfeedback</key>
	<string>variantWork</string>
	<key>interfacedistinction</key>
	<string>localPosition</string>
	<key>oldMobile</key>
	<string>cartesianTitle</string>
	<key>reduceactivity</key>
	<string>limitTicker</string>
	<key>rowexceptprocess</key>
	<string>canUnmountedConsumer</string>
	<key>scrollSkewX</key>
	<string>disparateNotification</string>
	<key>shouldMountMedia</key>
	<string>easyTernary</string>
	<key>tabletext</key>
	<string>textureContrast</string>
</dict>
</plist>
