<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decouplemodel</key>
	<string>positionedActivity</string>
	<key>explicitScheduler</key>
	<string>canFormatBinary</string>
	<key>fixedAnimator</key>
	<string>greatDisclaimer</string>
	<key>mobileSplitter</key>
	<string>iterativeAnalogy</string>
	<key>oldStep</key>
	<string>largeMaterializer</string>
	<key>resultcomponent</key>
	<string>multiplyChapter</string>
	<key>scenarioSpacing</key>
	<string>canReplaceKernel</string>
	<key>shouldpaintaspectratio</key>
	<string>spotRotation</string>
	<key>transformeragainstmethod</key>
	<string>managerStrategy</string>
</dict>
</plist>
