<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorSize</key>
	<string>tangentVariable</string>
	<key>equalizationprogressbar</key>
	<string>declarativeSkirt</string>
	<key>nativeVector</key>
	<string>sinkStructure</string>
	<key>newestReceiver</key>
	<string>dedicatedTask</string>
	<key>opaqueAnalogy</key>
	<string>requestName</string>
	<key>seamlessCosine</key>
	<string>precisionTail</string>
	<key>textCoord</key>
	<string>unmountCube</string>
</dict>
</plist>
