<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicconvolutionfrequency</key>
	<string>extensionusecase</string>
	<key>crudePolyfill</key>
	<string>canLoadAperture</string>
	<key>declarativeDuration</key>
	<string>pinchableSkin</string>
	<key>margintolerance</key>
	<string>comprehensiveSelector</string>
	<key>scrollableDetail</key>
	<string>ephemeralAwait</string>
	<key>unactivatedController</key>
	<string>advancedInjection</string>
	<key>webGrain</key>
	<string>metadataEnvironment</string>
</dict>
</plist>
