<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttoninsidemethod</key>
	<string>dimensionTop</string>
	<key>configurationType</key>
	<string>catalystVisitor</string>
	<key>directScroller</key>
	<string>shouldunmountconsumer</string>
	<key>disabledCallback</key>
	<string>cubeDirection</string>
	<key>reactiverecursion</key>
	<string>stopSensor</string>
	<key>relationalGridView</key>
	<string>axisDistance</string>
	<key>shouldEmitTextField</key>
	<string>batchTint</string>
	<key>shouldObserveCollection</key>
	<string>concurrentSine</string>
</dict>
</plist>
