<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bordervariablecolor</key>
	<string>lastShape</string>
	<key>handleequalization</key>
	<string>animatedTitle</string>
	<key>liteObject</key>
	<string>utilInterpreter</string>
	<key>shouldRebuildCharacter</key>
	<string>easyBloc</string>
	<key>shouldResumeNavigator</key>
	<string>fragmentSpacing</string>
</dict>
</plist>
