<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeComponent</key>
	<string>unregisterLayout</string>
	<key>directtechniquecontrast</key>
	<string>paddingAction</string>
	<key>introspectgrain</key>
	<string>refreshDependency</string>
	<key>quantizationborder</key>
	<string>unactivatedcubelocation</string>
	<key>shouldDeserializeContraction</key>
	<string>activatedResponder</string>
	<key>swiftInset</key>
	<string>canShowDropdownButton</string>
	<key>tensorChallenge</key>
	<string>canBuildPoint</string>
</dict>
</plist>
