<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionRight</key>
	<string>staticTool</string>
	<key>dedicatedSession</key>
	<string>captionSystem</string>
	<key>elementdistance</key>
	<string>particlemechanism</string>
	<key>eventmesh</key>
	<string>prevBandwidth</string>
	<key>interpolationDensity</key>
	<string>shouldDetachCatalyst</string>
	<key>operationskewx</key>
	<string>gemActivity</string>
	<key>shouldskiplog</key>
	<string>infoCenter</string>
	<key>subscriberKind</key>
	<string>managersorter</string>
</dict>
</plist>
