<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionamongflyweight</key>
	<string>clipperEnvironment</string>
	<key>enumerateloop</key>
	<string>canEndConstraint</string>
	<key>functionalScreen</key>
	<string>aspectDepth</string>
	<key>gridleveldepth</key>
	<string>shouldCreateGem</string>
	<key>positionatfacade</key>
	<string>storyboardProcess</string>
	<key>registerdescription</key>
	<string>criticalVertex</string>
	<key>serviceInteraction</key>
	<string>configureCubit</string>
	<key>toolSkewX</key>
	<string>inflategram</string>
	<key>usagecoord</key>
	<string>navigatorVisible</string>
</dict>
</plist>
