<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateScenario</key>
	<string>symbolScale</string>
	<key>discardedservice</key>
	<string>tensorCharacteristic</string>
	<key>interactiveButton</key>
	<string>keepBullet</string>
</dict>
</plist>
