<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopGrain</key>
	<string>histogramFrequency</string>
	<key>elementBrightness</key>
	<string>symmetricResult</string>
	<key>hasSegue</key>
	<string>reductionProcess</string>
	<key>reusableSegment</key>
	<string>responsiveQuaternion</string>
	<key>schemaLeft</key>
	<string>controllertransparency</string>
	<key>shouldPaintAccessory</key>
	<string>wrapMenu</string>
	<key>themewithflyweight</key>
	<string>descentColor</string>
</dict>
</plist>
