<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricNotifier</key>
	<string>routeSpot</string>
	<key>queueTag</key>
	<string>infrastructureDepth</string>
	<key>relationalArithmetic</key>
	<string>elementSpeed</string>
	<key>shouldRebuildExponent</key>
	<string>explicitrectangle</string>
	<key>strokeBottom</key>
	<string>buildPageView</string>
</dict>
</plist>
