<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characteristicOrigin</key>
	<string>crucialGraph</string>
	<key>completiondisclaimer</key>
	<string>switchDepth</string>
	<key>disparateOptimizer</key>
	<string>equipmentStyle</string>
	<key>inactiveSprite</key>
	<string>shouldRestartCell</string>
	<key>independentPositioned</key>
	<string>completionchart</string>
	<key>interactiveMap</key>
	<string>gradientInteraction</string>
	<key>mediaquerydescription</key>
	<string>canUnmountSlider</string>
	<key>multiGrayscale</key>
	<string>flexibleComposition</string>
	<key>selecteddelegate</key>
	<string>unsortedIntensity</string>
	<key>soundPosition</key>
	<string>concreteTaxonomy</string>
</dict>
</plist>
