<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedmesh</key>
	<string>cleanSingleton</string>
	<key>autoInterface</key>
	<string>layerSaturation</string>
	<key>primarySplitter</key>
	<string>scopeDelay</string>
	<key>significantAlpha</key>
	<string>publicRoute</string>
	<key>strokeBrightness</key>
	<string>newestCubit</string>
	<key>substantialModal</key>
	<string>disparatePolygon</string>
</dict>
</plist>
