<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDescent</key>
	<string>cancelGesture</string>
	<key>decorationchainalignment</key>
	<string>scopeState</string>
	<key>popupduringbridge</key>
	<string>destroyVector</string>
	<key>processorShape</key>
	<string>delicatescaffoldstyle</string>
	<key>saveactivity</key>
	<string>rectangleSpeed</string>
	<key>tweenformat</key>
	<string>layoutdependency</string>
</dict>
</plist>
