<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerAction</key>
	<string>parallelInfrastructure</string>
	<key>immutableReceiver</key>
	<string>eventDepth</string>
	<key>rapidMember</key>
	<string>responsiveMerger</string>
	<key>textbound</key>
	<string>currenttabbar</string>
	<key>visibleStore</key>
	<string>equalizationFramework</string>
</dict>
</plist>
