<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAnchor</key>
	<string>sliderFramework</string>
	<key>cupertinoAnchor</key>
	<string>analyzerOffset</string>
	<key>directPromise</key>
	<string>cartesianTransformer</string>
	<key>draggableThread</key>
	<string>independentPageView</string>
	<key>easymetadata</key>
	<string>grayscaleParameter</string>
	<key>functionalSingleton</key>
	<string>materialStorage</string>
	<key>hasbinary</key>
	<string>sliderproxybrightness</string>
	<key>publishzone</key>
	<string>disconnectEquipment</string>
	<key>resizableEquivalent</key>
	<string>ignoredDelegate</string>
	<key>specifyRole</key>
	<string>detachBase</string>
</dict>
</plist>
