<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableAwait</key>
	<string>canTrainGridView</string>
	<key>shouldAttachScale</key>
	<string>shouldAnimateNib</string>
	<key>shouldUnbindDelegate</key>
	<string>elasticMetadata</string>
	<key>statelessNib</key>
	<string>occasionKind</string>
	<key>stroketransparency</key>
	<string>composableDescription</string>
	<key>tensorConstraint</key>
	<string>profileuntilfunction</string>
</dict>
</plist>
