<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicComposition</key>
	<string>mediocreGift</string>
	<key>composableinteractorinterval</key>
	<string>providershade</string>
	<key>detectorcoord</key>
	<string>shouldUnbindChannels</string>
	<key>timelineSkewY</key>
	<string>scenarioCount</string>
</dict>
</plist>
