<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousGroup</key>
	<string>endProject</string>
	<key>constructsink</key>
	<string>mixinQueue</string>
	<key>crudeMusic</key>
	<string>transformerWork</string>
	<key>declarativeVector</key>
	<string>diversifiedRemediation</string>
	<key>effectgroup</key>
	<string>subsequentSwitch</string>
	<key>inactivePager</key>
	<string>pivotalTicker</string>
	<key>statefulStamp</key>
	<string>delegatestageopacity</string>
	<key>usecaseatbuffer</key>
	<string>actiontag</string>
</dict>
</plist>
