<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>evaluationInterval</key>
	<string>baselineMethod</string>
	<key>popgroup</key>
	<string>compositionalPlayback</string>
	<key>provideralongdecorator</key>
	<string>canListenModal</string>
</dict>
</plist>
