<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultRepository</key>
	<string>boxDuration</string>
	<key>monsterinset</key>
	<string>renamevariant</string>
	<key>shouldDeserializeCompletion</key>
	<string>concreteStore</string>
	<key>shouldListenGraphic</key>
	<string>alphaRate</string>
	<key>signatureTail</key>
	<string>durationalignment</string>
	<key>tweakBorder</key>
	<string>positionedLocation</string>
	<key>viewType</key>
	<string>maintainZone</string>
</dict>
</plist>
