<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertOpacity</key>
	<string>elementtransparency</string>
	<key>animatedTime</key>
	<string>publicobserver</string>
	<key>apertureOffset</key>
	<string>observehandler</string>
	<key>arithmeticVector</key>
	<string>largeAspect</string>
	<key>customizedInterpolation</key>
	<string>advancedDescriptor</string>
	<key>disparateTabView</key>
	<string>diffableprovider</string>
	<key>intuitiveRemediation</key>
	<string>compilePresenter</string>
	<key>mapperSaturation</key>
	<string>unmountedCursor</string>
	<key>pivotalstate</key>
	<string>shouldDisposeUnary</string>
	<key>singleModel</key>
	<string>lifecycleDelay</string>
</dict>
</plist>
