<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstContraction</key>
	<string>durationBehavior</string>
	<key>overlayDuration</key>
	<string>detachGrid</string>
	<key>tickerStyle</key>
	<string>cupertinodensity</string>
	<key>typicalVideo</key>
	<string>geometricFeature</string>
</dict>
</plist>
