<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachreduction</key>
	<string>shouldCancelAspectRatio</string>
	<key>disabledEntity</key>
	<string>delicateBullet</string>
	<key>kernelAppearance</key>
	<string>elasticHash</string>
	<key>shouldConnectSwift</key>
	<string>hardTransition</string>
	<key>transformerTail</key>
	<string>radiusContext</string>
</dict>
</plist>
