<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combinesensor</key>
	<string>completionVariable</string>
	<key>soundstatus</key>
	<string>capsuleValue</string>
	<key>visibleStack</key>
	<string>cleanStream</string>
</dict>
</plist>
