<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticIndex</key>
	<string>canEndPoint</string>
	<key>bitrateDelay</key>
	<string>gemmechanism</string>
	<key>colordepth</key>
	<string>shouldUnmountProjection</string>
	<key>fusedEqualization</key>
	<string>usageAcceleration</string>
	<key>pivotalGram</key>
	<string>navigateCapsule</string>
	<key>setupcontroller</key>
	<string>repositorywithprocess</string>
	<key>shouldConnectInkWell</key>
	<string>functionalmapresponse</string>
	<key>standaloneSprite</key>
	<string>mediumInjection</string>
</dict>
</plist>
