<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalColor</key>
	<string>mixinBuffer</string>
	<key>firstMission</key>
	<string>groupprovision</string>
	<key>ignoredMomentum</key>
	<string>makeSubscription</string>
	<key>liteTentative</key>
	<string>polyfillVisible</string>
	<key>mediumchart</key>
	<string>functionalCube</string>
	<key>replicateerror</key>
	<string>threadAdapter</string>
	<key>responsiveVector</key>
	<string>mutableCatalyst</string>
	<key>statelessResult</key>
	<string>managerFramework</string>
</dict>
</plist>
