<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectmatrix</key>
	<string>permissiveInkWell</string>
	<key>inheritedusecasetype</key>
	<string>seekError</string>
	<key>presenterBorder</key>
	<string>offsetRoute</string>
	<key>relationalResponder</key>
	<string>shouldNotifyInkWell</string>
	<key>responderOrientation</key>
	<string>shouldEmitMediaQuery</string>
	<key>sizedboxForce</key>
	<string>canTransitionNotification</string>
	<key>temporarySlider</key>
	<string>clusterSkewX</string>
</dict>
</plist>
