<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncoperationskewy</key>
	<string>controllerBound</string>
	<key>chartrestriction</key>
	<string>discoverFactory</string>
	<key>columnstate</key>
	<string>substantialSearcher</string>
	<key>dropdownbuttonInterval</key>
	<string>shouldLayoutBaseline</string>
	<key>localNavigator</key>
	<string>smallmonstername</string>
	<key>originalActivity</key>
	<string>criticalFragment</string>
	<key>shouldSerializeTouch</key>
	<string>permutationDirection</string>
</dict>
</plist>
