<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyCompleter</key>
	<string>soundLeft</string>
	<key>dividesymbol</key>
	<string>inheritedText</string>
	<key>liteinkwellshape</key>
	<string>cachecolor</string>
	<key>mediumAnalogy</key>
	<string>augmentResult</string>
	<key>paddingformat</key>
	<string>shouldCacheDropdownButton</string>
	<key>permissivebutton</key>
	<string>geometricSearcher</string>
	<key>responsiveAscent</key>
	<string>stackBorder</string>
	<key>shouldPaintMatrix</key>
	<string>selectedoptimizer</string>
	<key>statefulScaffold</key>
	<string>zoneCount</string>
</dict>
</plist>
