<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardScalability</key>
	<string>dropdownbuttonRotation</string>
	<key>hyperbolicDetail</key>
	<string>oldmetadataflags</string>
	<key>singletonDensity</key>
	<string>opaqueDistinction</string>
	<key>sortedVolume</key>
	<string>shouldAttachSpecifier</string>
	<key>specifierbound</key>
	<string>declarativesizeskewx</string>
</dict>
</plist>
