<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveFeature</key>
	<string>mediumArchitecture</string>
	<key>currentLayout</key>
	<string>canBindReduction</string>
	<key>inheritedController</key>
	<string>concurrentTool</string>
	<key>isSizedBox</key>
	<string>instantiateFeature</string>
	<key>limitpageview</key>
	<string>utilOffset</string>
	<key>pinchableEntity</key>
	<string>sustainableConverter</string>
	<key>requiredthreadresponse</key>
	<string>adaptiveUnary</string>
	<key>temporaryCoordinator</key>
	<string>subscribeComposition</string>
	<key>timeBottom</key>
	<string>spriteBound</string>
</dict>
</plist>
