<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardSpecifier</key>
	<string>compileResponse</string>
	<key>disparateCycle</key>
	<string>shouldAnimateSlider</string>
	<key>errorthreshold</key>
	<string>musicmediatorflags</string>
	<key>immediateasync</key>
	<string>pivotalSearcher</string>
	<key>painterrestriction</key>
	<string>nibDirection</string>
	<key>publicBox</key>
	<string>checklistbesideflyweight</string>
	<key>respectivelabel</key>
	<string>strokeBottom</string>
	<key>robustException</key>
	<string>notifierInterpreter</string>
	<key>symbolstate</key>
	<string>gramMemento</string>
</dict>
</plist>
