<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedcontainer</key>
	<string>euclideanoverlaycolor</string>
	<key>directlyReducer</key>
	<string>singletonTier</string>
	<key>divideoffset</key>
	<string>distinctionSpeed</string>
	<key>immutableconstant</key>
	<string>processChannels</string>
	<key>imperativeinterface</key>
	<string>implementObserver</string>
	<key>normalTexture</key>
	<string>firstOperation</string>
	<key>providecolumn</key>
	<string>layoutaboutcycle</string>
	<key>subscriberformat</key>
	<string>immediateAlpha</string>
	<key>symmetricGrayscale</key>
	<string>compositionalHeap</string>
</dict>
</plist>
