<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compiledecoration</key>
	<string>shouldConnectLoss</string>
	<key>elasticChapter</key>
	<string>activatedEntropy</string>
	<key>lastAnalogy</key>
	<string>beginnerMend</string>
	<key>lifecycletransparency</key>
	<string>concurrentBox</string>
	<key>pinchableGram</key>
	<string>spriteFlags</string>
	<key>rectangleFormat</key>
	<string>cursorOrientation</string>
	<key>relationalfutureoffset</key>
	<string>notifyController</string>
	<key>resourcerect</key>
	<string>numericalScalability</string>
	<key>seamlessMapper</key>
	<string>resetManager</string>
	<key>substantialInformation</key>
	<string>interactiveInstruction</string>
</dict>
</plist>
