<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticlocalization</key>
	<string>widgetcompositevisible</string>
	<key>euclideanTernary</key>
	<string>lockReducer</string>
	<key>iterativeCharacteristic</key>
	<string>buildSlash</string>
	<key>mediocrecontrast</key>
	<string>deactivateGroup</string>
	<key>referenceTheme</key>
	<string>referencePhase</string>
	<key>respectiveSpecifier</key>
	<string>greatanimatedcontainertheme</string>
	<key>shouldinflatescale</key>
	<string>bindUnary</string>
	<key>subtleRect</key>
	<string>layoutchannel</string>
</dict>
</plist>
