<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentAppearance</key>
	<string>alignmentresponse</string>
	<key>mediocrePlate</key>
	<string>advancedRow</string>
	<key>similarnib</key>
	<string>scrollableQuaternion</string>
	<key>topicinterpretertension</key>
	<string>batchStage</string>
	<key>uniformStep</key>
	<string>scaffolddecoratordepth</string>
	<key>visibleBuffer</key>
	<string>sessiondensity</string>
</dict>
</plist>
