<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveAnimatedContainer</key>
	<string>axistriangles</string>
	<key>aspectCenter</key>
	<string>cacheFacade</string>
	<key>comprehensiveConnector</key>
	<string>imperativeNavigation</string>
	<key>elasticTween</key>
	<string>introspectIsolate</string>
	<key>injectioninshape</key>
	<string>marginCount</string>
	<key>retainedTransition</key>
	<string>infrastructureVisibility</string>
	<key>transposemediaquery</key>
	<string>tensorTangent</string>
</dict>
</plist>
