<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorCount</key>
	<string>oninterpolationchanged</string>
	<key>cellmanager</key>
	<string>resolverEnvironment</string>
	<key>controllerMode</key>
	<string>canCacheCanvas</string>
	<key>interactiveStoryboard</key>
	<string>easyProject</string>
	<key>resilientChapter</key>
	<string>iterativeQuaternion</string>
	<key>shouldDisconnectAperture</key>
	<string>delegateComposite</string>
	<key>shouldKeepBaseline</key>
	<string>lastAction</string>
	<key>statefulInterval</key>
	<string>insteadView</string>
	<key>sustainableSprite</key>
	<string>canNavigateDialogs</string>
	<key>texturedespitescope</key>
	<string>notifyPrecision</string>
</dict>
</plist>
