<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioBrightness</key>
	<string>shouldattachcontraction</string>
	<key>emitaction</key>
	<string>captureText</string>
	<key>giftbesideparameter</key>
	<string>easyTrajectory</string>
	<key>invisibleSearcher</key>
	<string>directRemainder</string>
	<key>listviewVisibility</key>
	<string>shouldBuildLabel</string>
	<key>multiLocalization</key>
	<string>retainedLoss</string>
	<key>shouldcontinuecube</key>
	<string>interactiveResource</string>
</dict>
</plist>
