<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationforce</key>
	<string>diffablePublisher</string>
	<key>invisiblegiftbottom</key>
	<string>swiftDuration</string>
	<key>reductionMargin</key>
	<string>mainPromise</string>
	<key>shouldPaintGraphic</key>
	<string>parallelScalability</string>
	<key>smallEqualization</key>
	<string>meshCoord</string>
	<key>sortedresilience</key>
	<string>declarativeAnimatedContainer</string>
	<key>textfieldType</key>
	<string>shouldUnbindOperation</string>
</dict>
</plist>
