<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicDescription</key>
	<string>seekTask</string>
	<key>geometricBase</key>
	<string>cupertinoPlatform</string>
	<key>greatState</key>
	<string>explicitResult</string>
	<key>histogramrouter</key>
	<string>notifyArithmetic</string>
	<key>mutableScheduler</key>
	<string>geometricrange</string>
	<key>notationtension</key>
	<string>temporarypager</string>
	<key>scaffoldmapper</key>
	<string>shouldStreamBinary</string>
	<key>shouldNotifyProvider</key>
	<string>activatedPreview</string>
	<key>smartTangent</key>
	<string>shouldyieldbatch</string>
</dict>
</plist>
