<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildchannel</key>
	<string>canSerializeMedia</string>
	<key>commonEvaluation</key>
	<string>customizedScale</string>
	<key>desktopScene</key>
	<string>keyStroke</string>
	<key>listenerbeyondproxy</key>
	<string>missionSkewX</string>
	<key>mediocrechapter</key>
	<string>hasscroll</string>
	<key>opaqueAnchor</key>
	<string>otherScheduler</string>
	<key>priorOffset</key>
	<string>screenComposite</string>
	<key>requiredScene</key>
	<string>flexDistance</string>
	<key>shouldPauseDescriptor</key>
	<string>integerDistance</string>
	<key>similarSplitter</key>
	<string>gateDuration</string>
</dict>
</plist>
