<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloneprofile</key>
	<string>robustpermutation</string>
	<key>difficultReceiver</key>
	<string>dataBorder</string>
	<key>hashDistance</key>
	<string>constantBorder</string>
	<key>mounticon</key>
	<string>variantoperationstyle</string>
	<key>parallelBuilder</key>
	<string>adaptiveBinder</string>
	<key>rapidAnimator</key>
	<string>localizationSpeed</string>
	<key>relationalSizedBox</key>
	<string>subscribeButton</string>
	<key>unaryInteraction</key>
	<string>modulusBrightness</string>
</dict>
</plist>
