<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerscope</key>
	<string>cosineTint</string>
	<key>convolutionBound</key>
	<string>stringifyRect</string>
	<key>isWorkflow</key>
	<string>canFetchHeap</string>
	<key>newestAwait</key>
	<string>disparateSlider</string>
</dict>
</plist>
