<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoFragment</key>
	<string>unactivateddimension</string>
	<key>autoModule</key>
	<string>canCancelCertificate</string>
	<key>grayscaleBehavior</key>
	<string>scrollableCaption</string>
	<key>mediocreStrength</key>
	<string>granularLoop</string>
	<key>mediumAnchor</key>
	<string>shouldDeserializeGift</string>
	<key>persistentGestureDetector</key>
	<string>backwardprecision</string>
	<key>radioScale</key>
	<string>mobileKind</string>
	<key>reconcilechart</key>
	<string>permanentLabel</string>
	<key>retainedfutureresponse</key>
	<string>customLinker</string>
	<key>shouldSerializeBatch</key>
	<string>collectionformcolor</string>
</dict>
</plist>
