<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatoramongtype</key>
	<string>intensitySize</string>
	<key>descentFeedback</key>
	<string>canResumeOperation</string>
	<key>diversifiedOptimizer</key>
	<string>difficultCapsule</string>
	<key>lastDescent</key>
	<string>taskskewx</string>
	<key>typicalCreator</key>
	<string>setupQueue</string>
	<key>unsortedlabelskewx</key>
	<string>immediateTriangles</string>
</dict>
</plist>
