<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTitle</key>
	<string>notifyDropdownButton</string>
	<key>blocremediation</key>
	<string>loaderSaturation</string>
	<key>boxshadowcontrast</key>
	<string>oldPrecision</string>
	<key>crudeIntensity</key>
	<string>unmounttask</string>
	<key>permanentProgressBar</key>
	<string>symboljobmomentum</string>
	<key>restrictionBehavior</key>
	<string>obtainHandler</string>
	<key>sophisticatedUnary</key>
	<string>arithmeticSwift</string>
</dict>
</plist>
