<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalCustomPaint</key>
	<string>hyperbolicUnary</string>
	<key>concurrentPolygon</key>
	<string>heroInterval</string>
	<key>intensityviavalue</key>
	<string>preparegift</string>
	<key>missedReducer</key>
	<string>sanitizeLoop</string>
	<key>publicScale</key>
	<string>gridFrequency</string>
</dict>
</plist>
