<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveDimension</key>
	<string>canDismissOperation</string>
	<key>easyresource</key>
	<string>canKeepBitrate</string>
	<key>gesturedetectorrotation</key>
	<string>entityTheme</string>
	<key>materialDescription</key>
	<string>firsthandlercount</string>
	<key>primaryBuilder</key>
	<string>captionmechanism</string>
	<key>relationalBinder</key>
	<string>scopeFlags</string>
</dict>
</plist>
