<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionfromtask</key>
	<string>shouldFormatCapacities</string>
	<key>defaultcomposition</key>
	<string>showReducer</string>
	<key>mapequivalent</key>
	<string>radiusamongoperation</string>
	<key>materialChannels</key>
	<string>temporaryconvolution</string>
	<key>petAlignment</key>
	<string>resumeAspectRatio</string>
	<key>processorBound</key>
	<string>floatPreview</string>
	<key>shouldSerializeInkWell</key>
	<string>pushEvent</string>
	<key>shouldSerializeSpine</key>
	<string>arithmeticCursor</string>
	<key>singlecallback</key>
	<string>minGridView</string>
	<key>subsequenttextfield</key>
	<string>parseFeature</string>
</dict>
</plist>
