<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeMethod</key>
	<string>denseDocument</string>
	<key>globalRecursion</key>
	<string>shouldSaveClipper</string>
	<key>inactiveConvolution</key>
	<string>startEquipment</string>
	<key>multiThread</key>
	<string>draggableEqualization</string>
	<key>radiotexture</key>
	<string>ignoredInterface</string>
	<key>scrollFormat</key>
	<string>volumeDensity</string>
	<key>shouldPopConvolution</key>
	<string>rapidpolygon</string>
	<key>spotvisible</key>
	<string>materialProxy</string>
</dict>
</plist>
