<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCapsule</key>
	<string>binderVisibility</string>
	<key>euclideanConstant</key>
	<string>delicateRoute</string>
	<key>fragmentsSize</key>
	<string>variantVelocity</string>
	<key>hyperbolicFactory</key>
	<string>backwardRectangle</string>
	<key>iconDirection</key>
	<string>futureOrigin</string>
	<key>iterativeFinder</key>
	<string>mobileBinder</string>
	<key>labelprovision</key>
	<string>pushAnimatedContainer</string>
	<key>multiresponse</key>
	<string>pivotalclipperdirection</string>
	<key>rowanimation</key>
	<string>denseBox</string>
	<key>standaloneObject</key>
	<string>partitionMenu</string>
</dict>
</plist>
