<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildsizedbox</key>
	<string>permanentCursor</string>
	<key>controllerTension</key>
	<string>draggableFilter</string>
	<key>cosineSkewX</key>
	<string>boxshadowStage</string>
	<key>lastNode</key>
	<string>shouldcontinuechannels</string>
	<key>localCharacter</key>
	<string>visiblemanagershape</string>
	<key>locksink</key>
	<string>textShape</string>
	<key>modalResponse</key>
	<string>mobilerequest</string>
	<key>otherAnimatedContainer</key>
	<string>canDismissSpot</string>
	<key>shouldBuildLogarithm</key>
	<string>selectedUnary</string>
	<key>textfieldOrientation</key>
	<string>processBehavior</string>
</dict>
</plist>
