<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureContrast</key>
	<string>shouldListenOption</string>
	<key>consultativeQuaternion</key>
	<string>overlayLeft</string>
	<key>desktopCapacity</key>
	<string>connectLayer</string>
	<key>inheritedCallback</key>
	<string>delicateScreen</string>
	<key>nativerequestappearance</key>
	<string>flexibleListView</string>
	<key>orchestratesingleton</key>
	<string>orchestrateScene</string>
	<key>shouldPersistContainer</key>
	<string>associatedSwitch</string>
	<key>shouldPopNotifier</key>
	<string>primaryRenderer</string>
	<key>uniqueChapter</key>
	<string>subscriberSaturation</string>
</dict>
</plist>
