<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesiancapacity</key>
	<string>shouldPrepareBatch</string>
	<key>disparateObject</key>
	<string>continuerepository</string>
	<key>dispatchswift</key>
	<string>unlockSlider</string>
	<key>hascursor</key>
	<string>custompaintwithactivity</string>
	<key>mediocreGate</key>
	<string>repositoryScale</string>
	<key>retainspine</key>
	<string>drawerRate</string>
	<key>shouldHandleMediaQuery</key>
	<string>emitSegment</string>
	<key>singleDelegate</key>
	<string>scheduleLabel</string>
</dict>
</plist>
