<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousRadio</key>
	<string>spriteSize</string>
	<key>descentContrast</key>
	<string>interactiveReplica</string>
	<key>directlyDispatcher</key>
	<string>streamsemantics</string>
	<key>optionresponder</key>
	<string>rapidState</string>
	<key>poolchannel</key>
	<string>paddingVisibility</string>
	<key>shouldDismissUsage</key>
	<string>significantisolate</string>
	<key>unactivatedGem</key>
	<string>primaryCluster</string>
	<key>visibleShader</key>
	<string>consultativeException</string>
</dict>
</plist>
