<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardOffset</key>
	<string>equipmentofcomposite</string>
	<key>delicateModal</key>
	<string>intuitivedurationtransparency</string>
	<key>mobileTimer</key>
	<string>semanticsMomentum</string>
	<key>shouldDecodeGesture</key>
	<string>topicSingleton</string>
	<key>shouldDispatchFlex</key>
	<string>consultativeExpanded</string>
	<key>similarContrast</key>
	<string>unactivatedResponder</string>
</dict>
</plist>
