<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorskewy</key>
	<string>scalabilityoffset</string>
	<key>composableprecision</key>
	<string>requestaboutstructure</string>
	<key>futureEdge</key>
	<string>gemTransparency</string>
	<key>modulespeed</key>
	<string>draggableheap</string>
	<key>respectiveTriangles</key>
	<string>workflowBottom</string>
	<key>shouldFormatAspectRatio</key>
	<string>ongifttap</string>
	<key>usedcurve</key>
	<string>futuretemplerate</string>
</dict>
</plist>
