<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleFragment</key>
	<string>cupertinoScene</string>
	<key>aspectratioIndex</key>
	<string>enhanceFactory</string>
	<key>audioAlignment</key>
	<string>shouldobservesign</string>
	<key>desktopSlash</key>
	<string>taskskewx</string>
	<key>globaldrawer</key>
	<string>canRouteSwitch</string>
	<key>immediateShape</key>
	<string>arithmeticVar</string>
	<key>localOperation</key>
	<string>navigateStep</string>
	<key>parallelInkWell</key>
	<string>ephemeralTitle</string>
	<key>requiredScene</key>
	<string>regulateRequest</string>
	<key>smallFuture</key>
	<string>momentumState</string>
</dict>
</plist>
