<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentObject</key>
	<string>cubitFacade</string>
	<key>gestureMode</key>
	<string>shouldUnmountedMultiplication</string>
	<key>robustallocatorvelocity</key>
	<string>buildCube</string>
	<key>shouldPresentRadio</key>
	<string>blocworkshade</string>
	<key>tensorKernel</key>
	<string>canRestartGesture</string>
</dict>
</plist>
