<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCurve</key>
	<string>canDispatchUnary</string>
	<key>immediateChooser</key>
	<string>updateMonster</string>
	<key>missionfrombuffer</key>
	<string>shouldshowroute</string>
	<key>publicFactory</key>
	<string>originalModulus</string>
	<key>standaloneDecoration</key>
	<string>columncallback</string>
</dict>
</plist>
