<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousDispatcher</key>
	<string>scrollBrightness</string>
	<key>detailPressure</key>
	<string>statusTop</string>
	<key>explicitDescent</key>
	<string>canPauseBoxShadow</string>
	<key>immediateCatalyst</key>
	<string>materialConfidentiality</string>
	<key>masterinterpreterpressure</key>
	<string>canSetStateFuture</string>
	<key>navigatecapacities</key>
	<string>imageTier</string>
	<key>singleSine</key>
	<string>quantizerRoute</string>
	<key>textPosition</key>
	<string>subtlePainter</string>
</dict>
</plist>
