<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerresponder</key>
	<string>radiusstructuretension</string>
	<key>custompaintDuration</key>
	<string>processEffect</string>
	<key>shouldcontinuecomposition</key>
	<string>grainOpacity</string>
	<key>signaturemethodmode</key>
	<string>cursorTemple</string>
	<key>unaryVelocity</key>
	<string>replaceImage</string>
	<key>webMaterializer</key>
	<string>sanitizePresenter</string>
</dict>
</plist>
