<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentLog</key>
	<string>conformResolver</string>
	<key>cupertinotension</key>
	<string>resumeOperation</string>
	<key>difficultGift</key>
	<string>serviceBottom</string>
	<key>elasticityResponse</key>
	<string>discardedQuaternion</string>
	<key>inactiveThroughput</key>
	<string>composablePolygon</string>
	<key>inheritedHistogram</key>
	<string>globalInjection</string>
	<key>notifierStatus</key>
	<string>decorationspacing</string>
	<key>observershapeskewx</key>
	<string>multiColor</string>
</dict>
</plist>
