<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllermementovisibility</key>
	<string>layoutEquipment</string>
	<key>cubitmementoedge</key>
	<string>canCancelHeap</string>
	<key>sizeFormat</key>
	<string>interfaceBridge</string>
	<key>timelineEdge</key>
	<string>shouldConnectBullet</string>
</dict>
</plist>
