<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificatethanactivity</key>
	<string>numericalPosition</string>
	<key>commonInjection</key>
	<string>originalShape</string>
	<key>listviewstatetension</key>
	<string>scopeVisibility</string>
	<key>materializemediaquery</key>
	<string>shouldMountedMaterial</string>
	<key>meshPosition</key>
	<string>texturetransparency</string>
	<key>permissiveExtension</key>
	<string>streamamortization</string>
	<key>shadergrid</key>
	<string>functionalPromise</string>
	<key>subtleColumn</key>
	<string>challengeVariable</string>
	<key>symmetricRect</key>
	<string>pinchableFactory</string>
	<key>unactivatedDialogs</key>
	<string>buttonAction</string>
</dict>
</plist>
