<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseAnimator</key>
	<string>criticalCoordinator</string>
	<key>notationCount</key>
	<string>tangentintegration</string>
	<key>retainedwidget</key>
	<string>opaqueCatalyst</string>
	<key>shouldRenderSpot</key>
	<string>spritevalidation</string>
	<key>webentropyspacing</key>
	<string>gridPlatform</string>
</dict>
</plist>
