<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleGestureDetector</key>
	<string>projectionFunction</string>
	<key>disparateReplica</key>
	<string>escalateequipment</string>
	<key>managerBound</key>
	<string>showUnary</string>
	<key>memberspacing</key>
	<string>cleanFuture</string>
	<key>parallelDescent</key>
	<string>repositoryContext</string>
	<key>permissiveInteractor</key>
	<string>specifyIndicator</string>
	<key>secondSpot</key>
	<string>scopeOffset</string>
	<key>shouldListenStream</key>
	<string>persistentSchema</string>
</dict>
</plist>
