<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columncommandright</key>
	<string>precisionState</string>
	<key>disparatecompletercolor</key>
	<string>ephemeralChannels</string>
	<key>gramTheme</key>
	<string>configurationmaterial</string>
	<key>mutableBase</key>
	<string>constantDuration</string>
	<key>optimizerStyle</key>
	<string>encodeGem</string>
	<key>sophisticatedLinker</key>
	<string>mobileLoss</string>
</dict>
</plist>
