<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzerTag</key>
	<string>singleModulus</string>
	<key>convolutiondelivery</key>
	<string>sceneShade</string>
	<key>disparaterect</key>
	<string>consultativeDuration</string>
	<key>pivotalActivity</key>
	<string>canContinueLog</string>
	<key>restrictionBound</key>
	<string>listenNode</string>
</dict>
</plist>
