<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerMomentum</key>
	<string>mountTable</string>
	<key>asyncinsidedecorator</key>
	<string>floatResource</string>
	<key>combineinteractor</key>
	<string>sequentialGem</string>
	<key>distinctionTail</key>
	<string>singleAmortization</string>
	<key>shouldPublishController</key>
	<string>canRenderTable</string>
	<key>shouldRestartText</key>
	<string>listenerBridge</string>
	<key>splitterShape</key>
	<string>holdError</string>
	<key>substantialStateless</key>
	<string>bandwidthColor</string>
</dict>
</plist>
