<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialSelector</key>
	<string>resilientScale</string>
	<key>largeProvider</key>
	<string>canNotifyBoxShadow</string>
	<key>nibVisible</key>
	<string>parseActivity</string>
	<key>roleSize</key>
	<string>inkwellWork</string>
	<key>shouldDispatchReference</key>
	<string>regulateFuture</string>
	<key>shouldYieldColumn</key>
	<string>cubitLeft</string>
	<key>similarRecursion</key>
	<string>defaultconstraint</string>
	<key>splitterBrightness</key>
	<string>tappableRepository</string>
	<key>usedException</key>
	<string>hyperbolicMovement</string>
</dict>
</plist>
