<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableStream</key>
	<string>shouldPopInstruction</string>
	<key>draggabletopickind</key>
	<string>isSwift</string>
	<key>mutableContrast</key>
	<string>methodMode</string>
	<key>promiseoffset</key>
	<string>infoSpacing</string>
	<key>publicTechnique</key>
	<string>shouldAnimateStoryboard</string>
	<key>resourcevisibility</key>
	<string>canReplaceFlex</string>
</dict>
</plist>
