<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analogyCenter</key>
	<string>shouldPublishRadio</string>
	<key>certificatefromfunction</key>
	<string>scrollablecosineoffset</string>
	<key>enabledMonster</key>
	<string>newestChannels</string>
	<key>fusedBullet</key>
	<string>immediateTolerance</string>
	<key>independentflexformat</key>
	<string>shouldReplaceTechnique</string>
	<key>shouldBuildCheckbox</key>
	<string>refreshLabel</string>
	<key>shouldStreamCursor</key>
	<string>mediumUtil</string>
	<key>shouldnavigateplayback</key>
	<string>animatedVertex</string>
	<key>subscriberInterval</key>
	<string>similarView</string>
</dict>
</plist>
