<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedNorm</key>
	<string>documenttasktype</string>
	<key>interpolateconfiguration</key>
	<string>backwardDescriptor</string>
	<key>optimizerprototypeindex</key>
	<string>enabledMediaQuery</string>
	<key>scrollableAnalyzer</key>
	<string>iterativeInstruction</string>
	<key>selectedEffect</key>
	<string>dropoutOffset</string>
	<key>shouldDisconnectLog</key>
	<string>canRenderTable</string>
	<key>shouldStartOptimizer</key>
	<string>sequentialShader</string>
	<key>subtleGift</key>
	<string>canStreamStream</string>
	<key>synchronousGesture</key>
	<string>discardedMomentum</string>
	<key>tensorVariant</key>
	<string>compositionalProfile</string>
</dict>
</plist>
