<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocroute</key>
	<string>oldArchitecture</string>
	<key>channelDistance</key>
	<string>originalSubpixel</string>
	<key>chartName</key>
	<string>shouldMountedGift</string>
	<key>checklistOrientation</key>
	<string>arithmeticDelay</string>
	<key>directlytweenvalidation</key>
	<string>statelessCollection</string>
	<key>mediaIndex</key>
	<string>setstateComposition</string>
	<key>permissiveSegment</key>
	<string>mediaqueryInterpreter</string>
	<key>responsiveSlider</key>
	<string>mediaqueryStructure</string>
	<key>robustTask</key>
	<string>widgetInteraction</string>
</dict>
</plist>
