<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleVolume</key>
	<string>canBindText</string>
	<key>consumelistener</key>
	<string>customCoordinator</string>
	<key>diversifiedCell</key>
	<string>activatedLogarithm</string>
	<key>embracepopup</key>
	<string>scrollableTaxonomy</string>
	<key>persistentThread</key>
	<string>repositorydisclaimer</string>
	<key>petContrast</key>
	<string>canShowConvolution</string>
	<key>shouldDetachModulus</key>
	<string>extendPresenter</string>
	<key>shouldLayoutOverlay</key>
	<string>componentShade</string>
	<key>slidertop</key>
	<string>retainAsset</string>
	<key>usedDocument</key>
	<string>durationnumbercoord</string>
</dict>
</plist>
