<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerRoute</key>
	<string>oldmap</string>
	<key>challengeshade</key>
	<string>prevButton</string>
	<key>exponentBehavior</key>
	<string>sampleSystem</string>
	<key>flexbottom</key>
	<string>materialTask</string>
	<key>intuitiveComponent</key>
	<string>fetchAlert</string>
	<key>restartskirt</key>
	<string>consultativeZone</string>
	<key>routerShape</key>
	<string>materialFinder</string>
</dict>
</plist>
