<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisDuration</key>
	<string>yieldProtocol</string>
	<key>desktopRenderer</key>
	<string>globalArchitecture</string>
	<key>newestSplitter</key>
	<string>alertmodel</string>
	<key>prevRecursion</key>
	<string>clipGrain</string>
	<key>remediationTail</key>
	<string>rendererresponse</string>
	<key>retainedbehaviorpadding</key>
	<string>introspectMethod</string>
	<key>shouldCacheEqualization</key>
	<string>assetflags</string>
	<key>tweenstrength</key>
	<string>onaperturetap</string>
	<key>uniformCursor</key>
	<string>functionalConstraint</string>
</dict>
</plist>
