<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxMomentum</key>
	<string>strokeCount</string>
	<key>shouldstreampet</key>
	<string>singletonEdge</string>
	<key>visibleTweak</key>
	<string>sharedModule</string>
</dict>
</plist>
