<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAppearance</key>
	<string>sharedEntropy</string>
	<key>draggableTraversal</key>
	<string>bindTernary</string>
	<key>explicitProvision</key>
	<string>grayscaleSingleton</string>
	<key>gradientDensity</key>
	<string>draggableStorage</string>
	<key>loadpopup</key>
	<string>shouldPrepareSensor</string>
	<key>primaryDisclaimer</key>
	<string>canAttachAppBar</string>
	<key>relationalQuaternion</key>
	<string>chooserContrast</string>
	<key>segmentinteraction</key>
	<string>typicalProtocol</string>
	<key>shouldPrepareBoxShadow</key>
	<string>asyncInterval</string>
	<key>smallConstraint</key>
	<string>flexibleSingleton</string>
</dict>
</plist>
