<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>componentTop</key>
	<string>dependencyBorder</string>
	<key>frameenvironmentinterval</key>
	<string>appbarDecorator</string>
	<key>mediocreGrid</key>
	<string>localImage</string>
	<key>nibrecursion</key>
	<string>remediationSpeed</string>
	<key>resourcesysteminterval</key>
	<string>signParameter</string>
	<key>sortertail</key>
	<string>shouldSkipAspect</string>
	<key>symmetricCycle</key>
	<string>measureRow</string>
</dict>
</plist>
