<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderscale</key>
	<string>lastRow</string>
	<key>declarativecustompaintlocation</key>
	<string>arithmeticresolverinteraction</string>
	<key>shouldCreateAccessory</key>
	<string>gesturedetectorForce</string>
	<key>shouldNotifyTable</key>
	<string>deflatebutton</string>
	<key>sortedRouter</key>
	<string>keyCertificate</string>
	<key>symmetricExtension</key>
	<string>storyboardAction</string>
</dict>
</plist>
