<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTaxonomy</key>
	<string>instructionDelay</string>
	<key>coordinatorbytemple</key>
	<string>renderaperture</string>
	<key>euclideanprogressbardistance</key>
	<string>scrollableOptimizer</string>
	<key>hasIndicator</key>
	<string>revisitFactory</string>
	<key>paddingininterpreter</key>
	<string>asyncSpacing</string>
	<key>selectedReference</key>
	<string>selectedBehavior</string>
	<key>shouldAttachBox</key>
	<string>dimensionBottom</string>
	<key>smallMobile</key>
	<string>writeCompleter</string>
</dict>
</plist>
