<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselinePadding</key>
	<string>sampleInset</string>
	<key>bitrateBrightness</key>
	<string>beginnerModal</string>
	<key>cubestatedistance</key>
	<string>originalCache</string>
	<key>delegateAcceleration</key>
	<string>functionalPopup</string>
	<key>fixedScheduler</key>
	<string>animateSession</string>
	<key>granularFlex</key>
	<string>positionShape</string>
	<key>responsiveLoader</key>
	<string>canResumeCaption</string>
	<key>sharedSensor</key>
	<string>canPopPageView</string>
	<key>usedTrigger</key>
	<string>integrationOrigin</string>
</dict>
</plist>
