<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>computescene</key>
	<string>containertag</string>
	<key>exponentvialevel</key>
	<string>filterrotation</string>
	<key>medialikeprototype</key>
	<string>nibEnvironment</string>
</dict>
</plist>
