<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardStatus</key>
	<string>requestShade</string>
	<key>basicDetector</key>
	<string>sessionTemple</string>
	<key>containeritem</key>
	<string>finishPriority</string>
	<key>exceptiondata</key>
	<string>projectlifecycle</string>
	<key>isolatebeyondbuffer</key>
	<string>marshalView</string>
	<key>otherEquipment</key>
	<string>descriptionCoord</string>
	<key>shouldshowprecision</key>
	<string>respectiveView</string>
	<key>signlikeplatform</key>
	<string>positionedActivity</string>
	<key>substantialListView</key>
	<string>cacheTangent</string>
	<key>subtleDependency</key>
	<string>grainindex</string>
</dict>
</plist>
