<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCell</key>
	<string>shouldDeserializeBox</string>
	<key>crudeDelegate</key>
	<string>transformerduringsingleton</string>
	<key>disabledrequest</key>
	<string>synchronousSine</string>
	<key>heapvariableduration</key>
	<string>normHue</string>
	<key>largeReduction</key>
	<string>defaultAperture</string>
	<key>metricsTag</key>
	<string>selectedPadding</string>
	<key>permanentScenario</key>
	<string>interpolationTheme</string>
	<key>primaryStream</key>
	<string>copyMenu</string>
	<key>uniformPresenter</key>
	<string>shouldDisposeBorder</string>
	<key>usedThread</key>
	<string>propagatePreview</string>
</dict>
</plist>
