<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedAnchor</key>
	<string>rebuildCertificate</string>
	<key>interpolatesprite</key>
	<string>missedbinaryspacing</string>
	<key>multicluster</key>
	<string>largeConsumer</string>
	<key>permanentBitrate</key>
	<string>unmountGram</string>
	<key>projectStatus</key>
	<string>compositionlevelstate</string>
	<key>singleDocument</key>
	<string>custompaintOffset</string>
</dict>
</plist>
