<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelsincebridge</key>
	<string>nodeTask</string>
	<key>localizationInterval</key>
	<string>embedTransition</string>
	<key>mobilebutton</key>
	<string>mutableConvolution</string>
	<key>prismaticCapacities</key>
	<string>canConnectCustomPaint</string>
	<key>resumescene</key>
	<string>mixinManager</string>
	<key>symbolPadding</key>
	<string>memberEdge</string>
</dict>
</plist>
