<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerresponder</key>
	<string>integerMode</string>
	<key>containerproxyresponse</key>
	<string>smartDialogs</string>
	<key>exponentduration</key>
	<string>deserializeAlignment</string>
	<key>immutableIntegrity</key>
	<string>canPublishTool</string>
	<key>menuTension</key>
	<string>isEquipment</string>
	<key>nativeModulus</key>
	<string>hasBitrate</string>
	<key>robustMedia</key>
	<string>mediaPhase</string>
	<key>seamlessSignature</key>
	<string>yieldHeap</string>
	<key>semanticsCenter</key>
	<string>paddingsink</string>
	<key>shouldcancelequalization</key>
	<string>liteGradient</string>
</dict>
</plist>
