<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitsincevar</key>
	<string>flexibleCreator</string>
	<key>comprehensivestorecontrast</key>
	<string>difficultRow</string>
	<key>difficultPublisher</key>
	<string>shouldPushCard</string>
	<key>flexibleEquipment</key>
	<string>rectFunction</string>
	<key>herocontextduration</key>
	<string>similarJoiner</string>
	<key>liteSkirt</key>
	<string>prismaticBaseline</string>
	<key>mediocreConfidentiality</key>
	<string>immutableTentative</string>
	<key>mobileItem</key>
	<string>seekTitle</string>
</dict>
</plist>
