<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedKernel</key>
	<string>primaryConfidentiality</string>
	<key>consultativeEquivalent</key>
	<string>iterativeLinker</string>
	<key>isbloc</key>
	<string>unactivatedIcon</string>
	<key>monsterVelocity</key>
	<string>shouldPopAnchor</string>
	<key>resultSaturation</key>
	<string>sustainablesprite</string>
	<key>reusableQueue</key>
	<string>smallbloc</string>
</dict>
</plist>
