<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationSize</key>
	<string>intuitiveAsync</string>
	<key>desktopPainter</key>
	<string>selectedRole</string>
	<key>disabledChart</key>
	<string>prismaticConstraint</string>
	<key>displayableStorage</key>
	<string>canCancelButton</string>
	<key>masterCenter</key>
	<string>crucialProvision</string>
	<key>nextPublisher</key>
	<string>delegateelement</string>
	<key>pinchableMechanism</key>
	<string>sorterMode</string>
	<key>pushobserver</key>
	<string>lazyrenderer</string>
	<key>shoulddisposestamp</key>
	<string>lostModule</string>
</dict>
</plist>
