<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledParticle</key>
	<string>modulusNumber</string>
	<key>resizablerepository</key>
	<string>reduceScene</string>
	<key>sustainablenotificationstate</key>
	<string>standalonePlate</string>
	<key>vectorTheme</key>
	<string>responderShape</string>
</dict>
</plist>
