<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedEvolution</key>
	<string>shouldAttachAlpha</string>
	<key>difficultobservercenter</key>
	<string>shouldYieldCoordinator</string>
	<key>disparateAsync</key>
	<string>parallelColor</string>
	<key>hasSpecifier</key>
	<string>synchronousmatrixdirection</string>
	<key>resilientChooser</key>
	<string>temporaryInterpolation</string>
	<key>shouldFinishMaster</key>
	<string>notificationParam</string>
	<key>staticCycle</key>
	<string>resolverMethod</string>
	<key>usedNotification</key>
	<string>delicateSegue</string>
	<key>utilorprototype</key>
	<string>shouldFormatOptimizer</string>
</dict>
</plist>
