<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphagrid</key>
	<string>originalBitrate</string>
	<key>coordinatoramortization</key>
	<string>integrationName</string>
	<key>expandedStatus</key>
	<string>shouldMountCaption</string>
	<key>flexibleSample</key>
	<string>canRestartScaffold</string>
	<key>keyReference</key>
	<string>symmetricTheme</string>
	<key>lossvisitortheme</key>
	<string>shouldPublishTernary</string>
	<key>missedCreator</key>
	<string>checkNavigator</string>
	<key>opaqueChecklist</key>
	<string>shouldCancelPrecision</string>
	<key>shouldDisconnectPlayback</key>
	<string>taskalongshape</string>
</dict>
</plist>
