<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>architectureRate</key>
	<string>protocolStatus</string>
	<key>brushpainter</key>
	<string>arithmeticborder</string>
	<key>crudeMember</key>
	<string>subsequentCompleter</string>
	<key>customizedSearcher</key>
	<string>basicEmitter</string>
	<key>embracealpha</key>
	<string>resizableCreator</string>
	<key>scrollabletextureorientation</key>
	<string>finishMargin</string>
	<key>sharedappbar</key>
	<string>autoCaption</string>
	<key>shouldPrepareColumn</key>
	<string>consultativeSink</string>
</dict>
</plist>
