<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedAppBar</key>
	<string>typicalEntropy</string>
	<key>heroMomentum</key>
	<string>deferredSwift</string>
	<key>richtextatstyle</key>
	<string>arithmeticCreator</string>
	<key>visibleGem</key>
	<string>createcontainer</string>
</dict>
</plist>
