<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerConvolution</key>
	<string>tableworkdensity</string>
	<key>easyTimer</key>
	<string>respectiveAscent</string>
	<key>ignoredMaster</key>
	<string>completedGift</string>
	<key>servicebesidevar</key>
	<string>opaqueMediaQuery</string>
	<key>statedepth</key>
	<string>iterativePager</string>
</dict>
</plist>
