<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveVideo</key>
	<string>canHandleObserver</string>
	<key>inactiveduration</key>
	<string>boxduringjob</string>
	<key>primaryCompletion</key>
	<string>declarativeAxis</string>
	<key>shouldEndCoordinator</key>
	<string>catalystFlyweight</string>
	<key>shouldPrepareExponent</key>
	<string>convolutionTheme</string>
	<key>spinedecoratorresponse</key>
	<string>usecasebound</string>
</dict>
</plist>
