<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastbloc</key>
	<string>keepnavigator</string>
	<key>reusableLoss</key>
	<string>canNotifyCube</string>
	<key>storyboardskewx</key>
	<string>robustSwitch</string>
	<key>symmetricCurve</key>
	<string>normHead</string>
</dict>
</plist>
