<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionPermutation</key>
	<string>validateExponent</string>
	<key>agileTriangles</key>
	<string>pushInkWell</string>
	<key>callbackfeedback</key>
	<string>accessoryforce</string>
	<key>coordinatorjobdistance</key>
	<string>saveCompletion</string>
	<key>mainRadio</key>
	<string>canCreateFlex</string>
	<key>shouldAnimateVariant</key>
	<string>monsterlinker</string>
</dict>
</plist>
