<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combinerBound</key>
	<string>canMountedCheckbox</string>
	<key>diversifiedReduction</key>
	<string>unmountedMaterial</string>
	<key>dynamicModule</key>
	<string>filterOrientation</string>
	<key>heroTint</key>
	<string>shouldSubscribeBase</string>
</dict>
</plist>
