<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasBound</key>
	<string>canFormatDescriptor</string>
	<key>retainedStamp</key>
	<string>tangentVisible</string>
	<key>reusableException</key>
	<string>tappableEntity</string>
	<key>singleResolver</key>
	<string>defaultnib</string>
</dict>
</plist>
