<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopJoiner</key>
	<string>futureCenter</string>
	<key>entitythreshold</key>
	<string>numericalChooser</string>
	<key>greatEvent</key>
	<string>hasController</string>
	<key>hashHead</key>
	<string>normBound</string>
	<key>parallelAspect</key>
	<string>imageTemple</string>
	<key>sophisticatedSine</key>
	<string>uniformframe</string>
	<key>trianglesforce</key>
	<string>marshalAsset</string>
</dict>
</plist>
