<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardLeft</key>
	<string>giftlayerscale</string>
	<key>disabledTransition</key>
	<string>threadFlyweight</string>
	<key>disparateProvider</key>
	<string>normalmediaquery</string>
	<key>inheritedBullet</key>
	<string>canSubscribeSlider</string>
	<key>interactiveemitter</key>
	<string>canUnbindDocument</string>
	<key>lastBullet</key>
	<string>lastInkWell</string>
	<key>prevResponse</key>
	<string>contractionBridge</string>
	<key>primaryNavigation</key>
	<string>canSetStateGridView</string>
	<key>respectiveTopic</key>
	<string>shouldConnectSession</string>
	<key>shouldStartEntropy</key>
	<string>monsterchaintransparency</string>
</dict>
</plist>
