<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cachetag</key>
	<string>canPopSign</string>
	<key>constraintinsideform</key>
	<string>zonespeed</string>
	<key>defaultcolumn</key>
	<string>disposeTangent</string>
	<key>eagerAppBar</key>
	<string>mediocreTime</string>
	<key>globalefficiency</key>
	<string>robustDetail</string>
	<key>requiredEfficiency</key>
	<string>activeConsumer</string>
	<key>shouldSubscribeStamp</key>
	<string>offsetStyle</string>
	<key>typicalConsumer</key>
	<string>sizemomentum</string>
</dict>
</plist>
