<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>formatvisibility</key>
	<string>diffableMission</string>
	<key>shouldPaintContraction</key>
	<string>timerParam</string>
	<key>significantDetail</key>
	<string>pendingEqualization</string>
	<key>sineDirection</key>
	<string>shouldEmitDelegate</string>
	<key>vertexhue</key>
	<string>shouldAttachCupertino</string>
</dict>
</plist>
