<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>temporaryEquipment</key>
	<string>secondHash</string>
	<key>titleBound</key>
	<string>certificateResponse</string>
</dict>
</plist>
