<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedmultiplicationtype</key>
	<string>canLayoutMusic</string>
	<key>addmediaquery</key>
	<string>resilientRenderer</string>
	<key>litetimertransparency</key>
	<string>statelessTemple</string>
	<key>opaqueProjection</key>
	<string>pinchableBase</string>
	<key>temporaryCluster</key>
	<string>assetframe</string>
</dict>
</plist>
