<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveNotifier</key>
	<string>canDisposeExpanded</string>
	<key>consumerfactory</key>
	<string>canDisconnectAnimation</string>
	<key>enabledBoxShadow</key>
	<string>shouldPersistRow</string>
	<key>invisibleBorder</key>
	<string>dimensionPhase</string>
	<key>largeLocalization</key>
	<string>symmetricLinker</string>
	<key>listenerlikestructure</key>
	<string>canDisconnectSpot</string>
	<key>smartScalability</key>
	<string>tickeratmemento</string>
	<key>textasstyle</key>
	<string>persistmethod</string>
	<key>usedreducerstatus</key>
	<string>pendingInstruction</string>
</dict>
</plist>
