<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxRight</key>
	<string>rowpublisher</string>
	<key>denseColor</key>
	<string>scheduleLayer</string>
	<key>functionalCard</key>
	<string>eagerCoordinator</string>
	<key>globallayoutcount</key>
	<string>typicalCosine</string>
	<key>marginspacing</key>
	<string>actionNumber</string>
	<key>newestPositioned</key>
	<string>routerInset</string>
	<key>rectFeedback</key>
	<string>smallAlignment</string>
	<key>shouldBindUsage</key>
	<string>prevScene</string>
	<key>shouldEndCollection</key>
	<string>loadNib</string>
	<key>storagecoord</key>
	<string>gatetexture</string>
</dict>
</plist>
