<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerDuration</key>
	<string>queueStyle</string>
	<key>grambyphase</key>
	<string>comprehensivenavigator</string>
	<key>numericalChannel</key>
	<string>evaluateAnimation</string>
	<key>priorDetector</key>
	<string>similarCallback</string>
	<key>relationalamortization</key>
	<string>accessibleGem</string>
	<key>robustResource</key>
	<string>sliderVariable</string>
	<key>specifyCube</key>
	<string>missedCurve</string>
	<key>statefulController</key>
	<string>canTransformContainer</string>
</dict>
</plist>
