<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativeNavigator</key>
	<string>playAction</string>
	<key>sampleFormat</key>
	<string>scaffoldfuture</string>
	<key>stateuntilnumber</key>
	<string>dispatchSpot</string>
</dict>
</plist>
