<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>permanentProvider</key>
	<string>normalStamp</string>
	<key>statelessShader</key>
	<string>canSubscribeCaption</string>
	<key>webAmortization</key>
	<string>replicatePresenter</string>
</dict>
</plist>
