<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedFeature</key>
	<string>keyDrawer</string>
	<key>basicboxcolor</key>
	<string>significantColor</string>
	<key>dedicatedOccasion</key>
	<string>deserializeIntensity</string>
	<key>hierarchicalSchema</key>
	<string>functionalPositioned</string>
	<key>immutableShape</key>
	<string>grayscaleOrigin</string>
	<key>subtleBinder</key>
	<string>imperativePreview</string>
	<key>uniformPosition</key>
	<string>webmultiplicationkind</string>
</dict>
</plist>
