<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedCollection</key>
	<string>providerresilience</string>
	<key>shouldFormatSymbol</key>
	<string>animateSwift</string>
	<key>shouldMountedGestureDetector</key>
	<string>significantMechanism</string>
	<key>sortedBandwidth</key>
	<string>currentAspect</string>
	<key>taskmargin</key>
	<string>topicatlayer</string>
</dict>
</plist>
