<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentGestureDetector</key>
	<string>shouldDismissRichText</string>
	<key>exitlogarithm</key>
	<string>mendDensity</string>
	<key>explicitConfidentiality</key>
	<string>alphapolygon</string>
	<key>respectiveMesh</key>
	<string>missedCollection</string>
	<key>sharedRole</key>
	<string>uniquematrixdistance</string>
	<key>symmetricnavigation</key>
	<string>clonechapter</string>
</dict>
</plist>
