<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialPlayback</key>
	<string>visibleFuture</string>
	<key>customizedDetail</key>
	<string>encapsulateListener</string>
	<key>drawerlinker</key>
	<string>optimizeResolver</string>
	<key>framerate</key>
	<string>sophisticatedReceiver</string>
	<key>lazyData</key>
	<string>canBuildMobile</string>
	<key>responseDistance</key>
	<string>continueplate</string>
	<key>toleranceTheme</key>
	<string>rectangleOrientation</string>
</dict>
</plist>
