<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialAsync</key>
	<string>multiaspectratioscale</string>
	<key>euclideanVector</key>
	<string>canResumeCollection</string>
	<key>opaquetaxonomy</key>
	<string>filterName</string>
	<key>shouldBindConsumer</key>
	<string>typicalAspectRatio</string>
	<key>timerspeed</key>
	<string>statelesshead</string>
</dict>
</plist>
