<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSearcher</key>
	<string>denseProcessor</string>
	<key>accordionElasticity</key>
	<string>displayLayout</string>
	<key>crudeQuaternion</key>
	<string>unregisterEntity</string>
	<key>fusedAnchor</key>
	<string>composableEquipment</string>
	<key>labelfromform</key>
	<string>listviewSpeed</string>
	<key>logInterval</key>
	<string>listenButton</string>
	<key>mediumKernel</key>
	<string>nodenearkind</string>
	<key>symmetricTraversal</key>
	<string>layouttransparency</string>
</dict>
</plist>
