<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarusecase</key>
	<string>evaluateSprite</string>
	<key>clipbutton</key>
	<string>imperativeStrength</string>
	<key>commonGift</key>
	<string>shouldPersistSpot</string>
	<key>prismaticIntegration</key>
	<string>basicEffect</string>
	<key>shouldDisposeStack</key>
	<string>histogramParam</string>
	<key>shouldObserveMission</key>
	<string>explicitResult</string>
	<key>statelessTask</key>
	<string>capsuleRotation</string>
</dict>
</plist>
