<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentVelocity</key>
	<string>stackTension</string>
	<key>shouldResumeFlex</key>
	<string>scenethroughmode</string>
	<key>viewstrategybrightness</key>
	<string>shouldEncodeTextField</string>
</dict>
</plist>
