<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatDetail</key>
	<string>canRebuildSkin</string>
	<key>requiredpopup</key>
	<string>savecapacities</string>
	<key>shouldPublishGridView</key>
	<string>mountedMaster</string>
	<key>trajectoryKind</key>
	<string>gridStyle</string>
</dict>
</plist>
