<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerduration</key>
	<string>chartsincesingleton</string>
	<key>crucialCustomPaint</key>
	<string>endBloc</string>
	<key>crucialcolumnflags</key>
	<string>delicateGraphic</string>
	<key>diversifiedSpot</key>
	<string>optimizerdisclaimer</string>
	<key>elasticasyncdepth</key>
	<string>referenceParam</string>
	<key>shouldUnbindResource</key>
	<string>reductionAcceleration</string>
	<key>thresholdRotation</key>
	<string>sceneopacity</string>
	<key>unactivatedChapter</key>
	<string>awaitWork</string>
	<key>uniqueGift</key>
	<string>curvebehavior</string>
</dict>
</plist>
