<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeoffset</key>
	<string>materializePresenter</string>
	<key>easyRouter</key>
	<string>dismissAwait</string>
	<key>offsetoffset</key>
	<string>retrieveBuffer</string>
	<key>repositorytension</key>
	<string>navigationparameterinset</string>
	<key>reusableProgressBar</key>
	<string>replaceOffset</string>
	<key>shouldDismissMonster</key>
	<string>canAttachArithmetic</string>
	<key>similarService</key>
	<string>customizedCaption</string>
	<key>typicalMatrix</key>
	<string>normaltopic</string>
	<key>unactivatedBoxShadow</key>
	<string>canPresentAppBar</string>
</dict>
</plist>
