<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalNavigator</key>
	<string>completerevolution</string>
	<key>interactionTint</key>
	<string>webOption</string>
	<key>iterativeduration</key>
	<string>unmountedAxis</string>
	<key>nativeEfficiency</key>
	<string>easySpecifier</string>
	<key>pickerDistance</key>
	<string>metadatabufferposition</string>
	<key>singleContrast</key>
	<string>fixedOverlay</string>
	<key>strengthMode</key>
	<string>descriptionBorder</string>
	<key>substantialActivity</key>
	<string>shouldRenderEffect</string>
	<key>timeFlags</key>
	<string>measureLocalization</string>
</dict>
</plist>
