<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedStamp</key>
	<string>accessibleTheme</string>
	<key>capsuleSaturation</key>
	<string>usageOffset</string>
	<key>cupertinoHue</key>
	<string>disclaimerAlignment</string>
	<key>herooutsidebridge</key>
	<string>unmountedProjection</string>
	<key>logarithmpadding</key>
	<string>responsiveRoute</string>
	<key>shouldContinueMediaQuery</key>
	<string>robustComponent</string>
	<key>shouldDismissCustomPaint</key>
	<string>embedChapter</string>
	<key>shouldSubscribeDrawer</key>
	<string>canStartCache</string>
</dict>
</plist>
