<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activecontrast</key>
	<string>disparateMatrix</string>
	<key>backwardBoxShadow</key>
	<string>extensionindex</string>
	<key>coordinatorbufferalignment</key>
	<string>addRoute</string>
	<key>evaluationstyle</key>
	<string>sineStructure</string>
	<key>oldChannel</key>
	<string>reflectParticle</string>
	<key>oldLifecycle</key>
	<string>subpixeltransformer</string>
	<key>rectuntillayer</key>
	<string>sortedRoute</string>
	<key>resolvertypesaturation</key>
	<string>hyperbolicMetadata</string>
	<key>responsiveVariant</key>
	<string>remediationbrightness</string>
	<key>semanticSound</key>
	<string>elasticscale</string>
</dict>
</plist>
