<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerMargin</key>
	<string>shouldcanceltable</string>
	<key>comprehensiveInterface</key>
	<string>sophisticatedContraction</string>
	<key>dropdownbuttonversusvar</key>
	<string>permanentListener</string>
	<key>observerVisible</key>
	<string>dismissNotifier</string>
	<key>processorContrast</key>
	<string>tensorAlpha</string>
	<key>shouldInflateSlash</key>
	<string>disabledAlpha</string>
	<key>shouldPrepareOptimizer</key>
	<string>trainSegue</string>
	<key>spritemethodname</key>
	<string>activeMediaQuery</string>
	<key>streamlineactivity</key>
	<string>scrollableSelector</string>
</dict>
</plist>
