<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicSound</key>
	<string>geometricAudio</string>
	<key>clipperstatus</key>
	<string>columnbufferdepth</string>
	<key>mediumStream</key>
	<string>renderMovement</string>
	<key>shouldYieldMusic</key>
	<string>sceneMode</string>
	<key>statefulCustomPaint</key>
	<string>webListView</string>
</dict>
</plist>
