<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoDialogs</key>
	<string>processTween</string>
	<key>fixedDecoration</key>
	<string>encodeStateless</string>
	<key>giftadapterposition</key>
	<string>deferredDisclaimer</string>
	<key>largegesture</key>
	<string>subsequentEquivalent</string>
	<key>normalColumn</key>
	<string>animateplayback</string>
	<key>responseOrientation</key>
	<string>visibleAlert</string>
</dict>
</plist>
