<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderScale</key>
	<string>calculateplate</string>
	<key>consumerindex</key>
	<string>listenerCycle</string>
	<key>deferreddropdownbuttonposition</key>
	<string>delegateasstrategy</string>
	<key>delicateCupertino</key>
	<string>rebuildColumn</string>
	<key>explicitisolatevalidation</key>
	<string>converterFeedback</string>
	<key>heapcluster</key>
	<string>infrastructureStyle</string>
	<key>implementfeature</key>
	<string>declarativeChecklist</string>
	<key>reactivePolygon</key>
	<string>directlySize</string>
</dict>
</plist>
