<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedInstruction</key>
	<string>presentercycleduration</string>
	<key>analyzerBehavior</key>
	<string>inflateObserver</string>
	<key>currentCosine</key>
	<string>canStreamBullet</string>
	<key>hyperbolicVideo</key>
	<string>brushLeft</string>
	<key>lastArchitecture</key>
	<string>chapterOperation</string>
	<key>plateTint</key>
	<string>accessoryVisibility</string>
	<key>shouldPauseCharacter</key>
	<string>textbound</string>
	<key>shouldpushcollection</key>
	<string>normalSlider</string>
</dict>
</plist>
