<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticunary</key>
	<string>directReliability</string>
	<key>cachegroup</key>
	<string>synchronousprovision</string>
	<key>delicateNavigator</key>
	<string>tableLeft</string>
	<key>maingradientshape</key>
	<string>disparatecustompaint</string>
	<key>reactiveInjection</key>
	<string>shouldEncodeMaterial</string>
	<key>restartprovider</key>
	<string>usedConfiguration</string>
	<key>robustInteger</key>
	<string>inheritedRectangle</string>
	<key>sequentialProvision</key>
	<string>discardedTime</string>
	<key>visiblesensor</key>
	<string>dimensionOrigin</string>
</dict>
</plist>
