<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeresolver</key>
	<string>handleRichText</string>
	<key>resolverect</key>
	<string>hierarchicalSpecifier</string>
	<key>rotatemonster</key>
	<string>skirtquaternion</string>
	<key>seamlessCustomPaint</key>
	<string>hasnib</string>
	<key>shouldEmitTabView</key>
	<string>cacheMargin</string>
	<key>subsequentRadio</key>
	<string>allocatorevolution</string>
</dict>
</plist>
