<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableSpine</key>
	<string>canAttachCollection</string>
	<key>labelinterval</key>
	<string>shouldAttachCollection</string>
	<key>lastMerger</key>
	<string>shouldInflateNib</string>
	<key>selectedSession</key>
	<string>synchronoustextfield</string>
</dict>
</plist>
