<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonefficiency</key>
	<string>canEmitTabView</string>
	<key>presentcosine</key>
	<string>diversifiedCertificate</string>
	<key>removelocalization</key>
	<string>shouldObserveDrawer</string>
	<key>responsiveTechnique</key>
	<string>shouldSerializeVariant</string>
	<key>synchronousBloc</key>
	<string>embedButton</string>
	<key>titleShade</key>
	<string>graphchooser</string>
</dict>
</plist>
