<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalStack</key>
	<string>techniqueTop</string>
	<key>grayscaleForce</key>
	<string>imageHue</string>
	<key>semanticContainer</key>
	<string>validatesegue</string>
	<key>shouldPauseStateless</key>
	<string>shouldPushTask</string>
	<key>shouldUnbindIcon</key>
	<string>itemFlags</string>
</dict>
</plist>
