<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMaterializer</key>
	<string>capacitiesborder</string>
	<key>displayableDialogs</key>
	<string>sizeValue</string>
	<key>hashIndex</key>
	<string>permanentDecoration</string>
	<key>newestSingleton</key>
	<string>heroPrototype</string>
	<key>recursionShape</key>
	<string>prismaticCache</string>
	<key>retainedOptimizer</key>
	<string>invokeAwait</string>
	<key>shouldContinueComposition</key>
	<string>lazyVideo</string>
	<key>tablebutton</key>
	<string>handlerduration</string>
	<key>zonemethodhead</key>
	<string>variantVisibility</string>
</dict>
</plist>
