<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directBatch</key>
	<string>axisLayer</string>
	<key>robustresourcedelay</key>
	<string>canProcessReference</string>
	<key>semanticDetector</key>
	<string>respectiveThread</string>
	<key>shouldDisposePadding</key>
	<string>protocolAlignment</string>
	<key>shouldFinishReduction</key>
	<string>undertakeAllocator</string>
</dict>
</plist>
