<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeDescription</key>
	<string>catalystKind</string>
	<key>bulletobserver</key>
	<string>canDisposeIcon</string>
	<key>injectionlevelinset</key>
	<string>shouldPublishUsage</string>
	<key>localizationBorder</key>
	<string>annotateChapter</string>
	<key>reliabilityBottom</key>
	<string>hierarchicalDispatcher</string>
	<key>selectedmission</key>
	<string>requestLabel</string>
	<key>tangentOrientation</key>
	<string>rapidState</string>
	<key>typicalNavigator</key>
	<string>visibleScaffold</string>
	<key>usecasescopecontrast</key>
	<string>provideUtil</string>
	<key>zonetransparency</key>
	<string>histogramobserver</string>
</dict>
</plist>
