<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerBinary</key>
	<string>enhanceLayout</string>
	<key>checkboxForce</key>
	<string>mountSlash</string>
	<key>detailBehavior</key>
	<string>cupertinoEffect</string>
	<key>emitterAppearance</key>
	<string>intermediateAscent</string>
	<key>functionalEvent</key>
	<string>promiseEdge</string>
	<key>oldPicker</key>
	<string>notifyPromise</string>
	<key>primaryLogarithm</key>
	<string>actionRate</string>
	<key>quantizeranimatedcontainer</key>
	<string>immutablePublisher</string>
	<key>reusableTweak</key>
	<string>releaseParticle</string>
	<key>storedrawer</key>
	<string>listenSession</string>
</dict>
</plist>
