<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bandwidthFormat</key>
	<string>scheduleMenu</string>
	<key>disclaimerContrast</key>
	<string>globalDimension</string>
	<key>prevFilter</key>
	<string>elasticSize</string>
	<key>topicInteraction</key>
	<string>graphicVariable</string>
</dict>
</plist>
