<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldRenderSymbol</key>
	<string>secondLocalization</string>
	<key>shouldSaveChallenge</key>
	<string>invisibleGrayscale</string>
	<key>storeSaturation</key>
	<string>shouldFetchObserver</string>
</dict>
</plist>
