<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarCoord</key>
	<string>titlePrototype</string>
	<key>confidentialitytail</key>
	<string>exponentForm</string>
	<key>dispatchmobile</key>
	<string>delegateService</string>
	<key>onthreadtap</key>
	<string>concurrentConsumer</string>
	<key>operationBrightness</key>
	<string>coordinatorcontainstyle</string>
	<key>publishbuilder</key>
	<string>radiodispatcher</string>
	<key>rapidOccasion</key>
	<string>notifyTransition</string>
	<key>tappableMultiplication</key>
	<string>canPushDimension</string>
</dict>
</plist>
