<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphafrommethod</key>
	<string>histogramcontainactivity</string>
	<key>mainScreen</key>
	<string>diffableSensor</string>
	<key>mobileacceleration</key>
	<string>visibleTopic</string>
	<key>responderindex</key>
	<string>iterativeRoute</string>
	<key>seamlessHero</key>
	<string>tableOperation</string>
	<key>segmentimpression</key>
	<string>rectanglePosition</string>
	<key>shouldAttachChallenge</key>
	<string>displayError</string>
	<key>significantListView</key>
	<string>subsequentProvision</string>
	<key>splitterAcceleration</key>
	<string>criticalhashcoord</string>
	<key>standaloneBrush</key>
	<string>architectureindex</string>
</dict>
</plist>
