<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticThread</key>
	<string>continueLabel</string>
	<key>materializerHead</key>
	<string>usedCapacity</string>
	<key>oldSession</key>
	<string>canResumeMaster</string>
	<key>requiredImage</key>
	<string>deserializeMaterial</string>
	<key>unsortedWrapper</key>
	<string>scrollemitter</string>
</dict>
</plist>
