<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentShape</key>
	<string>handlesize</string>
	<key>futureshaperight</key>
	<string>crudeContraction</string>
	<key>latencyTension</key>
	<string>animationborder</string>
	<key>standaloneinteractorinterval</key>
	<string>significantExtension</string>
</dict>
</plist>
