<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMovement</key>
	<string>resultHue</string>
	<key>extensionIndex</key>
	<string>resizableLoop</string>
	<key>permanentactionshape</key>
	<string>blocBrightness</string>
	<key>radiusbrightness</key>
	<string>buildertweak</string>
	<key>shouldDecodeSwitch</key>
	<string>attachCharacter</string>
</dict>
</plist>
