<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeTheme</key>
	<string>tweenVar</string>
	<key>decorationTransparency</key>
	<string>canNotifyResource</string>
	<key>largeBehavior</key>
	<string>canPersistCheckbox</string>
	<key>precisionDensity</key>
	<string>shouldAnimateGrayscale</string>
	<key>shouldTrainMusic</key>
	<string>declarativeStatus</string>
	<key>slashAppearance</key>
	<string>completionlikeform</string>
	<key>statelesserror</key>
	<string>activitytype</string>
</dict>
</plist>
