<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableAwait</key>
	<string>rendererInset</string>
	<key>lifecycleTag</key>
	<string>desktopmenustyle</string>
	<key>logfrequency</key>
	<string>globalFeature</string>
	<key>mediocreVector</key>
	<string>tensorexponent</string>
	<key>sceneopacity</key>
	<string>canTrainGestureDetector</string>
	<key>seamlessSpine</key>
	<string>canParseMargin</string>
</dict>
</plist>
