<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTernary</key>
	<string>touchVelocity</string>
	<key>localPriority</key>
	<string>petPlatform</string>
	<key>tableschema</key>
	<string>upgradeRoute</string>
</dict>
</plist>
