<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deliveryedge</key>
	<string>interactionShade</string>
	<key>descriptorSkewX</key>
	<string>titleforcommand</string>
	<key>explicitAspect</key>
	<string>herotheme</string>
	<key>shouldPrepareTable</key>
	<string>holdinkwell</string>
	<key>shouldRestartRichText</key>
	<string>composableElasticity</string>
</dict>
</plist>
