<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildermodule</key>
	<string>concatenateTask</string>
	<key>compositionalRange</key>
	<string>oldNavigation</string>
	<key>disconnectdecoration</key>
	<string>precisionMethod</string>
	<key>factoryaroundsystem</key>
	<string>quantizerMethod</string>
	<key>looprotation</key>
	<string>resizableListener</string>
	<key>schedulerInteraction</key>
	<string>triggerDepth</string>
	<key>seamlessSegue</key>
	<string>hierarchicalElasticity</string>
	<key>shouldHandleCube</key>
	<string>maintainListener</string>
	<key>shouldListenAppBar</key>
	<string>tensorPresenter</string>
	<key>unsortedSign</key>
	<string>optionoutsideobserver</string>
</dict>
</plist>
