<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvecoord</key>
	<string>lastConfiguration</string>
	<key>directSpecifier</key>
	<string>difficultAsync</string>
	<key>relationalOffset</key>
	<string>canRestartClipper</string>
	<key>tensorradiosize</key>
	<string>canTransitionMusic</string>
</dict>
</plist>
