<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>reducecell</key>
	<string>sustainableCompleter</string>
	<key>singleRestriction</key>
	<string>defaulticon</string>
	<key>symmetricAperture</key>
	<string>uniquebuffertransparency</string>
	<key>synchronousequipment</key>
	<string>elasticButton</string>
</dict>
</plist>
