<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicArchitecture</key>
	<string>shouldConnectTask</string>
	<key>clusterColor</key>
	<string>streamTool</string>
	<key>lastMesh</key>
	<string>interceptFrame</string>
	<key>navigationcontrast</key>
	<string>prevContainer</string>
	<key>playbackBound</key>
	<string>remaindervisitordelay</string>
	<key>shouldLayoutSpot</key>
	<string>typicalSkin</string>
	<key>sizeagainstkind</key>
	<string>singletontypeskewx</string>
	<key>tappableAspect</key>
	<string>sampleBottom</string>
</dict>
</plist>
