<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorTint</key>
	<string>sessionFacade</string>
	<key>deserializeentity</key>
	<string>cupertinoPageView</string>
	<key>keystackalignment</key>
	<string>activeCanvas</string>
	<key>subpixelawaykind</key>
	<string>workflowJob</string>
</dict>
</plist>
