<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteAnimation</key>
	<string>basicException</string>
	<key>consultativeScope</key>
	<string>connectorHead</string>
	<key>crucialOffset</key>
	<string>associatedRoute</string>
	<key>customCertificate</key>
	<string>delegateContext</string>
	<key>diffableSelector</key>
	<string>partitionSingleton</string>
	<key>eventpager</key>
	<string>boxAction</string>
	<key>interpolationFormat</key>
	<string>shouldPublishFragment</string>
	<key>normalData</key>
	<string>shouldSerializeDocument</string>
	<key>permissivetimer</key>
	<string>hardLocalization</string>
	<key>symmetricRemainder</key>
	<string>multiLog</string>
</dict>
</plist>
