<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationTension</key>
	<string>handlercycletype</string>
	<key>inheritedShader</key>
	<string>canNotifyIndicator</string>
	<key>memberDelay</key>
	<string>stepCenter</string>
	<key>nextModal</key>
	<string>injectionLevel</string>
	<key>pageviewIndex</key>
	<string>buttontheme</string>
	<key>pickerfrequency</key>
	<string>pendingThread</string>
	<key>shouldRouteTool</key>
	<string>transposeContainer</string>
	<key>visibleMusic</key>
	<string>loaderHue</string>
	<key>workflowwithoutbridge</key>
	<string>canPopCurve</string>
</dict>
</plist>
