<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customUtil</key>
	<string>boxshadowbuffer</string>
	<key>labelDistance</key>
	<string>shouldPushMatrix</string>
	<key>metadatafromvar</key>
	<string>nextscenario</string>
	<key>shouldUnmountLoss</key>
	<string>agileJoiner</string>
</dict>
</plist>
