<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateEdge</key>
	<string>preparePositioned</string>
	<key>composableTask</key>
	<string>canSerializeBorder</string>
	<key>cursorDelay</key>
	<string>replaceMargin</string>
	<key>cyclelocation</key>
	<string>scaffoldBorder</string>
	<key>dynamicLog</key>
	<string>displayableMonster</string>
	<key>elasticitySkewY</key>
	<string>canDisconnectTask</string>
	<key>enabledDispatcher</key>
	<string>deprecateButton</string>
	<key>polygonVisible</key>
	<string>updatecertificate</string>
	<key>temporarySorter</key>
	<string>sampleWork</string>
	<key>texturetiertint</key>
	<string>defaultChallenge</string>
</dict>
</plist>
