<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateDrawer</key>
	<string>calculateOffset</string>
	<key>multiplicationColor</key>
	<string>sophisticatedLayout</string>
	<key>nibpressure</key>
	<string>backwardfinder</string>
	<key>shouldCreateContraction</key>
	<string>optionContrast</string>
	<key>shouldSerializeMap</key>
	<string>lostContraction</string>
	<key>strengthSkewX</key>
	<string>directCapacities</string>
</dict>
</plist>
