<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardScalability</key>
	<string>agileInformation</string>
	<key>bulletTag</key>
	<string>animatedGate</string>
	<key>channelLeft</key>
	<string>draggableTaxonomy</string>
	<key>shouldDecodeBox</key>
	<string>cupertinoLevel</string>
	<key>shouldUnmountedTechnique</key>
	<string>materializestorage</string>
	<key>sustainableNavigator</key>
	<string>createGate</string>
</dict>
</plist>
