<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeEfficiency</key>
	<string>canStartFuture</string>
	<key>flexibleAspectRatio</key>
	<string>firstConverter</string>
	<key>inheritedTween</key>
	<string>permissivecaption</string>
	<key>missionShape</key>
	<string>searchDecoration</string>
	<key>relationalproject</key>
	<string>lazyInkWell</string>
	<key>respectiveTicker</key>
	<string>canRouteMovement</string>
	<key>shouldConnectCache</key>
	<string>unmountConvolution</string>
</dict>
</plist>
