<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chooserState</key>
	<string>setstateBaseline</string>
	<key>colorDuration</key>
	<string>canSaveSpine</string>
	<key>detachexponent</key>
	<string>offsetBloc</string>
	<key>independentsegmenthead</key>
	<string>interfaceTier</string>
	<key>indicatorduration</key>
	<string>nibflags</string>
	<key>protectedDocument</key>
	<string>singleImage</string>
	<key>semanticAppBar</key>
	<string>elasticityEdge</string>
	<key>shouldSaveGestureDetector</key>
	<string>shouldFetchAccessory</string>
	<key>shouldStopText</key>
	<string>masterMediator</string>
</dict>
</plist>
