<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileArchitecture</key>
	<string>shouldUnmountedCosine</string>
	<key>dataTag</key>
	<string>uniformStamp</string>
	<key>desktopthreshold</key>
	<string>imperativeSample</string>
	<key>immediateSegment</key>
	<string>uniqueExponent</string>
</dict>
</plist>
