<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remainderascycle</key>
	<string>prevError</string>
	<key>shouldDisposeWorkflow</key>
	<string>parallelentitybehavior</string>
	<key>subsequentalignment</key>
	<string>shouldInflateStateful</string>
	<key>symbolRight</key>
	<string>mediocreMission</string>
</dict>
</plist>
