<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableIcon</key>
	<string>cursorAppearance</string>
	<key>grainversussingleton</key>
	<string>shouldFetchSpot</string>
	<key>intermediateInjection</key>
	<string>routerstate</string>
	<key>maintainasset</key>
	<string>eventCenter</string>
	<key>respectiveRequest</key>
	<string>mainSorter</string>
</dict>
</plist>
