<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerTag</key>
	<string>restoreTopic</string>
	<key>firstAmortization</key>
	<string>spineAdapter</string>
	<key>intensityfrequency</key>
	<string>singlemodalstate</string>
	<key>normalHeap</key>
	<string>invisibleOption</string>
	<key>permanentAlignment</key>
	<string>spinSprite</string>
	<key>relationalCapacity</key>
	<string>cupertinoConverter</string>
	<key>relationalGate</key>
	<string>endMember</string>
	<key>requiredImage</key>
	<string>euclideancontrollerrotation</string>
	<key>sizedboxframe</key>
	<string>keySpot</string>
</dict>
</plist>
