<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzerBorder</key>
	<string>contractionOpacity</string>
	<key>cubebandwidth</key>
	<string>unmountedWidget</string>
	<key>customizedBandwidth</key>
	<string>usedTriangles</string>
	<key>decodesemantics</key>
	<string>imperativeLoader</string>
	<key>heapDensity</key>
	<string>concurrentConfiguration</string>
	<key>isCapacities</key>
	<string>activatedEmitter</string>
	<key>layerInterval</key>
	<string>seamlessData</string>
	<key>setstatebuffer</key>
	<string>uniqueConvolution</string>
</dict>
</plist>
