<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicTask</key>
	<string>shouldMountBrush</string>
	<key>capsuleType</key>
	<string>canStopPadding</string>
	<key>equalizationfeedback</key>
	<string>shouldDismissBox</string>
	<key>missedWrapper</key>
	<string>durationtail</string>
	<key>shouldBuildPageView</key>
	<string>equivalentName</string>
	<key>shouldShowAccessory</key>
	<string>shouldskipboxshadow</string>
	<key>signatureEdge</key>
	<string>canTransitionContainer</string>
	<key>sorterAppearance</key>
	<string>unscheduleResponse</string>
	<key>usedAlignment</key>
	<string>detachstorage</string>
	<key>vertexName</key>
	<string>hasTernary</string>
</dict>
</plist>
