<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableAccessory</key>
	<string>continueDialogs</string>
	<key>geometricNavigator</key>
	<string>modelduration</string>
	<key>lifecyclealignment</key>
	<string>presenternotation</string>
	<key>nativeScale</key>
	<string>scrollableMember</string>
	<key>shouldPushScroll</key>
	<string>persistentMargin</string>
</dict>
</plist>
