<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easydescriptionhue</key>
	<string>elementSpacing</string>
	<key>fixedGraph</key>
	<string>coordinatorProcess</string>
	<key>intensitytypeshape</key>
	<string>shouldLoadCell</string>
	<key>multiCharacteristic</key>
	<string>promiseobserver</string>
	<key>prevData</key>
	<string>maxFlex</string>
	<key>shouldTrainAccessory</key>
	<string>particleFlags</string>
</dict>
</plist>
