<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleAmortization</key>
	<string>canContinueIcon</string>
	<key>immediateView</key>
	<string>mountRadio</string>
	<key>prismaticBorder</key>
	<string>optimizerPressure</string>
	<key>robustDetail</key>
	<string>shouldcontinuecustompaint</string>
	<key>shouldStartRemainder</key>
	<string>alphaatadapter</string>
</dict>
</plist>
